{
  "openapi": "3.0.0",
  "info": {
    "title": "systolics API",
    "version": "1.0.0",
    "description": "API documentation for systolics"
  },
  "servers": [
    {
      "url": "https://api.systolics.de/v01",
      "description": "Platform API"
    }
  ],
  "tags": [
    {
      "name": "Coder - Dashboard",
      "description": "Dashboard and overview endpoints for the Coder module"
    },
    {
      "name": "Coder - Flows",
      "description": "Management of analysis flows"
    },
    {
      "name": "Coder - Patient",
      "description": "Patient file and documentation access"
    },
    {
      "name": "Coder - Analysis",
      "description": "Analysis objects and action handles"
    },
    {
      "name": "Coder - Settings",
      "description": "Settings and configuration for the Coder module"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-systolics-apikey",
        "description": "API Key required to obtain a JWT token."
      },
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authorization header using the Bearer scheme."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "description": "Flexible data container that can be either an object or an array.",
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Depicts a string constant for the error type",
            "example": "GENERAL_ERROR"
          },
          "reqId": {
            "type": "string",
            "description": "Request ID for tracing the error",
            "example": "4a900ef0-dfbe-11ef-add6-bf069a8357f6"
          },
          "msg": {
            "type": "string",
            "description": "Error message",
            "example": "An error occurred."
          }
        }
      },
      "AuthErrorMessage": {
        "type": "object",
        "properties": {
          "auth": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Access not allowed."
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Request operation result key",
            "example": "SUCCESS"
          },
          "token": {
            "type": "string",
            "description": "JWT token for accessing secured endpoints of the affiliated organization.",
            "example": "eyJhbGciOiJIUzI1NiIsIn..."
          }
        }
      },
      "CoderActionHandleStatus": {
        "type": "string",
        "enum": [
          "pending",
          "approved",
          "rejected",
          "deactivated",
          "conflict",
          "untouched"
        ],
        "description": "Status of an action handle"
      },
      "CoderDayChecksum": {
        "type": "object",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "MD5 checksum of the day's documentation"
          },
          "dateInserted": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderPatientTag": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "lastDate": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string",
            "description": "Source of the tag extraction"
          },
          "deleted": {
            "type": "boolean"
          },
          "deletionReason": {
            "type": "string",
            "nullable": true
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderPatientTagInput": {
        "type": "object",
        "description": "Input schema for creating or updating a patient tag",
        "required": [
          "tag",
          "lastDate",
          "source"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "lastDate": {
            "type": "string",
            "format": "date",
            "description": "Date (ISO 8601)"
          },
          "source": {
            "type": "string",
            "description": "Source of the tag extraction"
          },
          "deleted": {
            "type": "boolean",
            "default": false
          },
          "deletionReason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CoderPatientTagDeleteInput": {
        "type": "object",
        "description": "Input schema for soft-deleting a patient tag",
        "required": [
          "tag"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "deletionReason": {
            "type": "string",
            "nullable": true,
            "description": "Optional reason for deletion"
          }
        }
      },
      "CoderPatientFile": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectId"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "dayChecksums": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/CoderDayChecksum"
                },
                "description": "Map of date strings to checksum objects"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              },
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderPatientTag"
            }
          }
        }
      },
      "CoderDocumentationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Type of documentation entry"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable type label"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "documentationText": {
            "type": "string"
          },
          "patientNumber": {
            "type": "integer"
          },
          "patientNumberPVS": {
            "type": "integer"
          },
          "caseId": {
            "type": "string"
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderDocumentationItemGOP": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "GOP": {
                "type": "string",
                "description": "GOP code"
              },
              "GOPText": {
                "type": "string"
              },
              "GOPLANR": {
                "type": "string"
              },
              "GOType": {
                "type": "string"
              },
              "GOPBstNumber": {
                "type": "string"
              },
              "monetaryValue": {
                "type": "number"
              },
              "GOPFactor": {
                "type": "number",
                "nullable": true
              },
              "GOPComment": {
                "type": "string",
                "nullable": true
              },
              "GOPDocName": {
                "type": "string"
              },
              "gopPVSDocShortHand": {
                "type": "string"
              },
              "flagStatistics": {
                "type": "boolean"
              },
              "flagIsIndividualFactor": {
                "type": "boolean",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderDocumentationItemMedication": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "medicationName": {
                "type": "string",
                "nullable": true
              },
              "dosage": {
                "type": "string",
                "nullable": true
              },
              "prescriptionId": {
                "type": "string",
                "nullable": true
              },
              "pzn": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderPatientFileDay": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "documentation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDocumentationItem"
            }
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderPaginatedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderActionHandleUserEdit": {
        "type": "object",
        "properties": {
          "userIdCreated": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status"
        ]
      },
      "CoderActionHandleSummary": {
        "type": "object",
        "description": "Summary of an action handle embedded in an analysis object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "monetaryValue": {
            "type": "number",
            "nullable": true
          }
        }
      },
      "CoderActionHandle": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "analysisObjectId": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "sourceRuleId": {
            "type": "string",
            "description": "ID of the rule that generated this action handle"
          },
          "monetaryValue": {
            "type": "number",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "userEdit": {
            "$ref": "#/components/schemas/CoderActionHandleUserEdit"
          },
          "payload": {
            "type": "object",
            "description": "Rule-specific payload data"
          }
        }
      },
      "CoderAnalysisObject": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "flowId": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "actionHandles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderActionHandleSummary"
            },
            "description": "Summary list of action handles"
          }
        }
      },
      "CoderFlow": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFlowInput": {
        "type": "object",
        "properties": {
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          }
        },
        "required": [
          "friendlyName"
        ]
      },
      "CoderDashboardActionHandleCounts": {
        "type": "object",
        "properties": {
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "untouched": {
            "type": "integer"
          }
        }
      },
      "CoderDashboardAnalysisStats": {
        "type": "object",
        "properties": {
          "countPatients": {
            "type": "integer"
          },
          "countActionHandles": {
            "$ref": "#/components/schemas/CoderDashboardActionHandleCounts"
          }
        }
      },
      "CoderDashboardFlowItem": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "analysisObjects": {
            "type": "object",
            "properties": {
              "total": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              },
              "recently": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              }
            }
          },
          "lastRun": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error",
                  "running"
                ]
              }
            }
          }
        }
      },
      "CoderDashboardResponse": {
        "type": "object",
        "properties": {
          "flows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDashboardFlowItem"
            }
          }
        }
      },
      "CoderAnalysisListObjectSummary": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "flowId": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "actionHandleSummary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pending": {
                "type": "integer"
              },
              "approved": {
                "type": "integer"
              },
              "rejected": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CoderAnalysisListItem": {
        "type": "object",
        "properties": {
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "nullable": true,
            "description": "PVS patient number"
          },
          "pendingCount": {
            "type": "integer",
            "description": "Total pending action handles for this patient"
          },
          "totalMonetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "Sum of monetary values"
          },
          "latestUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListObjectSummary"
            }
          }
        }
      },
      "CoderAnalysisListResponse": {
        "type": "object",
        "description": "Response for /list/analysis - patients with analysis results",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderPatientFileListItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "description": "PVS patient number (if available)"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "sex": {
            "type": "string",
            "nullable": true,
            "description": "Patient sex (m/w/d)"
          },
          "dayOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "coverages": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Insurance coverage information"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            },
            "description": "Analysis objects for this patient (only included if flagIncludeAnalysisObjects=true)"
          }
        }
      },
      "CoderPatientFileListResponse": {
        "type": "object",
        "description": "Response for /list/patients - patient files sorted by modification date",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderPatientFileListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderActivityResponse": {
        "type": "object",
        "description": "Response for /patient/:patientNumber/activity - recent analysis objects",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor value for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderTriggerAnalysisResponse": {
        "type": "object",
        "description": "Response for triggering a patient analysis",
        "properties": {
          "triggered": {
            "type": "boolean",
            "description": "Whether the analysis was triggered"
          }
        }
      },
      "CoderFileShortType": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable label"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Mapped documentation type"
          },
          "count": {
            "type": "integer",
            "description": "Number of occurrences"
          },
          "flagAutoClassified": {
            "type": "boolean"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFileShortTypeInput": {
        "type": "object",
        "properties": {
          "fileShortType": {
            "type": "object",
            "properties": {
              "shortType": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "diag",
                  "anamnesis",
                  "procedure",
                  "therapy",
                  "medication",
                  "forms",
                  "lab",
                  "communication",
                  "admin",
                  "gop",
                  "other"
                ]
              }
            },
            "required": [
              "shortType",
              "type"
            ]
          }
        },
        "required": [
          "fileShortType"
        ]
      },
      "CoderFileShortTypesResponse": {
        "type": "object",
        "properties": {
          "fileShortTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderFileShortType"
            }
          },
          "flagClassificationInProgress": {
            "type": "boolean",
            "description": "Whether auto-classification is still running"
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of allowed documentation types"
          }
        }
      }
    }
  },
  "paths": {
    "/auth/scopes": {
      "get": {
        "summary": "Obtain Access Token for a service user via its API Key",
        "description": "Use an API Key to obtain a JWT token for authentication to protected organization resources",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "platform",
                "partner",
                "org"
              ]
            },
            "description": "Description of the type of organization for which scopes are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "description": "The scope as the string representation of the requested permission level"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the token"
                    },
                    "description": {
                      "type": "string",
                      "description": "The full-text representation of the access permission"
                    },
                    "uiCategory": {
                      "type": "string",
                      "description": "The category which for the scope"
                    },
                    "flagAssignableForBpOrg": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)"
                    },
                    "flagCanBeAssignedToApiKey": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)7"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/services/token": {
      "get": {
        "summary": "Obtain JWT Token using API Key",
        "description": "Use an API Key to obtain a JWT token for authentication.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey": {
      "get": {
        "summary": "List the existing API Keys for a business partner organization",
        "description": "List all API Keys for a business partner organization, including their scopes and validity information",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business partner organization for which the API keys are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyPrefix": {
                            "type": "string",
                            "description": "Unique identifier prefix for the API key.",
                            "example": "bp-76015df0df5511efb34539daeecdeef1"
                          },
                          "apiKeyMasked": {
                            "type": "string",
                            "description": "Masked API key for display purposes.",
                            "example": "******iV6m"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the API key was created.",
                            "example": "2025-01-30T21:59:21.679Z"
                          },
                          "activeEndpoints": {
                            "type": "array",
                            "description": "List of active endpoints associated with this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "scopes": {
                            "type": "array",
                            "description": "List of access scopes assigned to this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "data-dwh-data-read"
                            ]
                          },
                          "dateChanged": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was last modified.",
                            "example": "2025-01-30T22:06:43.815Z"
                          },
                          "userIdChanged": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that last changed the API key, if applicable.",
                            "example": null
                          },
                          "dateInvalidated": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was invalidated.",
                            "example": "2025-01-30T22:10:45.476Z"
                          },
                          "userIdInvalidated": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that invalidated the API key.",
                            "example": "668c5551fb7bbe6934d0f23f"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new API key",
        "description": "Generates a new API key for the specified business partner (BP). The request must be authenticated using a Bearer token.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID for which the API key is being created."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of scopes assigned to the API key.",
                    "example": [
                      "data-dwh-data-read",
                      "partner-owner"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "Unique identifier prefix for the API key.",
                          "example": "bp-53ab3520df5811ef83e9479208803006"
                        },
                        "apiKeyMasked": {
                          "type": "string",
                          "description": "Masked API key for display purposes.",
                          "example": "******XUWW"
                        },
                        "dateCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the API key was created.",
                          "example": "2025-01-30T22:19:52.562Z"
                        },
                        "activeEndpoints": {
                          "type": "array",
                          "description": "List of active endpoints associated with this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "scopes": {
                          "type": "array",
                          "description": "List of access scopes assigned to this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "apiKeyClear": {
                          "type": "string",
                          "description": "The full API key in plain text (shown only once upon creation).",
                          "example": "bp-53ab3520df5811ef83e9479208803006.BekBSEgkQK8FCO9t6qBqZ8h95KUddRoi0e6OceMHr8lMkniV"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey/{apiKeyPrefix}": {
      "put": {
        "summary": "Update API Key Scopes",
        "description": "Updates the list of scopes assigned to an existing API key.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID associated with the API key."
          },
          {
            "in": "path",
            "name": "apiKeyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier prefix for the API key to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The new list of scopes to assign to the API key.",
                    "example": [
                      "data-dwh-data-read"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated API key scopes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "The unique identifier prefix for the updated API key.",
                          "example": "bp-76015df0df5511efb34539daeecdeef1"
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The updated list of scopes assigned to the API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "data-dwh-data-read"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The specified API key does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Invalidate (Delete) an API Key",
        "description": "Marks an API key as invalid, preventing further use.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys-inactivate"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID associated with the API key."
          },
          {
            "in": "path",
            "name": "apiKeyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier prefix for the API key to be invalidated."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully invalidated the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The specified API key does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/instances/new": {
      "post": {
        "summary": "Create a new practice instance (unattended onboarding)",
        "description": "Creates a new practice instance (organization) via unattended onboarding. This endpoint is designed for automated instance creation by business partners using API keys with the 'unattended-onboarding' scope. The endpoint will create a new organization, set up the organization owner user, and optionally create an admin user. Infrastructure setup and account validation emails are sent automatically. This endpoint requires (a) dedicated contractual agreement with systolics and  (b) a dedicated API key with the 'unattended-onboarding' scope. Further configuration (e.g. customization of registration flows) are  possible, but require specific configuration. Please contact your account manager for more information.",
        "tags": [
          "Partner - Onboarding"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-token-required-scopes": [
          "unattended-onboarding"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business partner organization that is creating the new instance. This is derived from the API key used for authentication."
          },
          {
            "in": "query",
            "name": "flowType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "orgowner",
                "admin"
              ]
            },
            "description": "Optional flow type for registration. Determines whether the user is registered as organization owner or admin. Only applicable if the business partner allows registration flow choices. Defaults to the business partner's default flow type."
          },
          {
            "in": "query",
            "name": "autoGeneratePassword",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional flag to auto-generate a strong password. Only applicable if the business partner allows registration flow choices. Defaults to true otherwise."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "name",
                  "surname",
                  "organization"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the organization owner user",
                    "example": "owner@medicalclinic.de"
                  },
                  "name": {
                    "type": "string",
                    "description": "First name of the organization owner user",
                    "example": "John"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Last name of the organization owner user",
                    "example": "Doe"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for the organization owner user; required if registration flow type is 'orgowner'. Must comply with strong requirements as per \"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[+-;:~.!@#\\$%\\^&\\*])(?=.{8,})\"",
                    "example": "SecurePassword123!"
                  },
                  "LANR": {
                    "type": "number",
                    "nullable": true,
                    "description": "Optional LANR (Lebenslange Arztnummer) for medical professionals, leave empty if not applicable.",
                    "example": null
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title of the user",
                    "example": "Dr."
                  },
                  "mobilephone": {
                    "type": "number",
                    "nullable": true,
                    "description": "Optional mobile phone number",
                    "example": null
                  },
                  "organization": {
                    "type": "object",
                    "required": [
                      "name",
                      "street",
                      "number",
                      "zip",
                      "kvCode",
                      "city",
                      "countryCode"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the organization",
                        "example": "Medical Clinic ABC"
                      },
                      "bstNumber": {
                        "type": "number",
                        "description": "BST number (Betriebsstättennummer). It is required for Germany (DE), place a 0 for private only clinics.",
                        "example": 123456789
                      },
                      "street": {
                        "type": "string",
                        "description": "Street address",
                        "example": "Main Street"
                      },
                      "number": {
                        "type": "string",
                        "description": "House number",
                        "example": 42
                      },
                      "zip": {
                        "type": "string",
                        "description": "Postal code",
                        "example": 10115
                      },
                      "kvCode": {
                        "type": "number",
                        "description": "KV code (Kassenärztliche Vereinigung). Please refer to the KV-Schlüsseltabellen for the correct KV code for your organization.",
                        "example": 100
                      },
                      "city": {
                        "type": "string",
                        "description": "City name",
                        "example": "Berlin"
                      },
                      "countryCode": {
                        "type": "string",
                        "enum": [
                          "DE",
                          "AT",
                          "CH"
                        ],
                        "description": "Country code (ISO 3166-1 alpha-2)",
                        "example": "DE"
                      }
                    }
                  },
                  "rebates": {
                    "type": "object",
                    "nullable": true,
                    "description": "Optional rebate configuration for the organization. Contains rebate selection data.",
                    "properties": {
                      "legalNoticePartner": {
                        "type": "boolean",
                        "description": "Flag indicating if the legal notice for the partner rebate has been accepted",
                        "example": true
                      },
                      "rebates": {
                        "type": "array",
                        "description": "Array of rebate IDs and codes to apply to the organization. The provided rebates are automatically selected and validated against available rebates of the partner account. Invalid items will be discarded.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier of the rebate",
                              "example": "507f1f77bcf86cd799439014"
                            },
                            "code": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional rebate code for reference",
                              "example": "PARTNER_DISCOUNT_2025"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "507f1f77bcf86cd799439014",
                            "code": "PARTNER_DISCOUNT_2025"
                          },
                          {
                            "id": "507f1f77bcf86cd799439015",
                            "code": null
                          }
                        ]
                      }
                    },
                    "example": {
                      "legalNoticePartner": true,
                      "rebates": [
                        {
                          "id": "507f1f77bcf86cd799439014",
                          "code": "PARTNER_DISCOUNT_2025"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a new practice instance. Returns the created organization, organization owner user, and optional admin user information along with pipeline execution status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "organization": {
                          "type": "object",
                          "properties": {
                            "orgId": {
                              "type": "string",
                              "description": "Unique identifier of the created organization",
                              "example": "507f1f77bcf86cd799439011"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the organization",
                              "example": "Medical Clinic ABC"
                            }
                          }
                        },
                        "orgOwnerUser": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "description": "Unique identifier of the organization owner user",
                              "example": "507f1f77bcf86cd799439012"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "description": "Email address of the organization owner user",
                              "example": "owner@medicalclinic.de"
                            }
                          }
                        },
                        "adminUser": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "userId": {
                              "type": "string",
                              "description": "Unique identifier of the admin user (if created)",
                              "example": "507f1f77bcf86cd799439013"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "description": "Email address of the admin user",
                              "example": "admin@medicalclinic.de"
                            }
                          }
                        },
                        "pipeline": {
                          "type": "object",
                          "description": "Information about the onboarding pipeline execution",
                          "properties": {
                            "flagInfrastructureRunSuccess": {
                              "type": "boolean",
                              "description": "Whether infrastructure setup was successful",
                              "example": true
                            },
                            "flagEmailSent": {
                              "type": "boolean",
                              "description": "Whether account validation email was sent",
                              "example": true
                            },
                            "flagRegisterUserAsOrgOwner": {
                              "type": "boolean",
                              "description": "Whether the user was registered as organization owner",
                              "example": true
                            },
                            "flagRegisterUserAsAdmin": {
                              "type": "boolean",
                              "description": "Whether an additional admin user was created",
                              "example": false
                            },
                            "flagNewUserWasCreated": {
                              "type": "boolean",
                              "description": "Whether a new user was created",
                              "example": true
                            },
                            "flagPartnerConnectionSuccess": {
                              "type": "boolean",
                              "description": "Whether partner connection was successful",
                              "example": true
                            },
                            "flagAffiliateWithPartner": {
                              "type": "boolean",
                              "description": "Whether the organization was affiliated with the partner",
                              "example": true
                            },
                            "flagAutoGeneratePassword": {
                              "type": "boolean",
                              "description": "Whether password was auto-generated",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields. This can occur if required fields are missing, email format is invalid, password is not strong enough, or organization information is incomplete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. The API key is either missing, invalid, or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The business partner organization is not activated for unattended onboarding, or the API key does not have the required 'unattended-onboarding' scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable - Invalid user or organization data. This can occur if the email is invalid, password is not strong enough, or organization data does not meet requirements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - An unexpected error occurred during the onboarding process.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/filetypes": {
      "get": {
        "summary": "Get File Short Types",
        "description": "Returns all file short types for the organization.\nFile short types are used to categorize documentation entries.\nReturns status 202 if classification is still in progress.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File short types retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFileShortTypesResponse"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Classification in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFileShortTypesResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/filetypes/{itemId}": {
      "put": {
        "summary": "Update File Short Type",
        "description": "Updates a file short type mapping.\nRequires settings write permission.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File short type item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoderFileShortTypeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File short type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/settings/devices": {
      "get": {
        "summary": "Get Device Configurations",
        "description": "Returns the device configurations for the organization.\nDevices are PVS devices that can be enabled/disabled for coder processing.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Device configurations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "activeDevices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Unique device key identifier"
                              },
                              "name": {
                                "type": "string",
                                "description": "Display name of the device"
                              },
                              "category": {
                                "type": "string",
                                "description": "Device category"
                              }
                            }
                          },
                          "description": "List of active devices"
                        },
                        "dateChanged": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "userIdChanged": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Enable Device",
        "description": "Enables a device for coder processing.\nThe device is added to the active devices list. If a device with the same key\nalready exists, it will be replaced with the new device data.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "name",
                  "category"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique device key identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the device"
                  },
                  "category": {
                    "type": "string",
                    "description": "Device category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Disable Device",
        "description": "Disables a device for coder processing.\nThe device is removed from the active devices list based on its key.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "name",
                  "category"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique device key identifier to remove"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the device"
                  },
                  "category": {
                    "type": "string",
                    "description": "Device category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/settings/context": {
      "get": {
        "summary": "Get Practice Context Items",
        "description": "Returns the practice context items for the organization.\nContext items are used as cheat sheet information for the coder AI.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Context items retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "context": {
                            "type": "string",
                            "description": "Context text (max 500 characters)"
                          },
                          "referencedGops": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "GOP": {
                                  "type": "string"
                                },
                                "GOType": {
                                  "type": "string",
                                  "enum": [
                                    "EBM",
                                    "GOAE"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Update Practice Context Items",
        "description": "Updates the practice context items for the organization.\nReplaces the entire context items array.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "context"
                  ],
                  "properties": {
                    "context": {
                      "type": "string",
                      "maxLength": 500,
                      "description": "Context text"
                    },
                    "referencedGops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "GOP",
                          "GOType"
                        ],
                        "properties": {
                          "GOP": {
                            "type": "string"
                          },
                          "GOType": {
                            "type": "string",
                            "enum": [
                              "EBM",
                              "GOAE"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Context items updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/flows": {
      "get": {
        "summary": "Get All Flows",
        "description": "Returns a list of all configured analysis flows for the organization.\nFlows define the rules and analysis pipelines for patient data.\n",
        "tags": [
          "Coder - Flows"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Flows retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CoderFlow"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create New Flow",
        "description": "Creates a new analysis flow for the organization.\nRequires settings write permission.\n",
        "tags": [
          "Coder - Flows"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoderFlowInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "string",
                      "description": "ID of the created flow"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/flows/{flowId}": {
      "get": {
        "summary": "Get Single Flow",
        "description": "Returns a single flow by ID with its full configuration.",
        "tags": [
          "Coder - Flows"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "flowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Flow retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFlow"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Flow not found"
          }
        }
      },
      "put": {
        "summary": "Update Flow",
        "description": "Updates an existing flow configuration.\nRequires settings write permission.\n",
        "tags": [
          "Coder - Flows"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "flowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoderFlowInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Flow updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFlow"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Flow not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Flow",
        "description": "Deletes a flow configuration.\nRequires settings write permission.\nNote: This may affect existing analysis objects linked to this flow.\n",
        "tags": [
          "Coder - Flows"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "flowId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Flow ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Flow deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Flow not found"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/dashboard": {
      "get": {
        "summary": "Get Coder Dashboard Overview",
        "description": "Returns an overview of all flows and their analysis results.\nIncludes counts of action handles per status (pending, approved, rejected)\nfor both total and recent time periods.\n",
        "tags": [
          "Coder - Dashboard"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "query",
            "name": "recentDays",
            "schema": {
              "type": "integer",
              "default": 7
            },
            "description": "Number of days to consider as \"recently\" for statistics"
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderDashboardResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/list/analysis": {
      "get": {
        "summary": "Get Analysis-based Patient List",
        "description": "Returns a list of patients with their analysis objects based on filter criteria.\nQueried from the analysis_objects collection - shows patients with analysis results.\n\n**Filtering options:**\n- Filter by flow ID\n- Filter by action handle status\n- Filter by date range\n- Filter by source rule ID\n\n**Sorting options:**\n- By number of pending action handles\n- By monetary value\n- By last update date\n",
        "tags": [
          "Coder - Dashboard"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "query",
            "name": "flowId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific flow ID"
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected",
                "deactivated",
                "conflict",
                "untouched"
              ]
            },
            "description": "Filter by action handle status"
          },
          {
            "in": "query",
            "name": "sourceRuleId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by source rule ID (e.g., \"/Rule/GOPRule/EBM/01732\")"
          },
          {
            "in": "query",
            "name": "dateStart",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date for filtering (ISO 8601)"
          },
          {
            "in": "query",
            "name": "dateEnd",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date for filtering (ISO 8601)"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "pendingCount",
                "monetaryValue",
                "dateUpdated"
              ],
              "default": "pendingCount"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of patients to return"
          },
          {
            "in": "query",
            "name": "skip",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of patients to skip (for pagination)"
          }
        ],
        "responses": {
          "200": {
            "description": "Patient list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderAnalysisListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/list/patients": {
      "get": {
        "summary": "Get Patient File List",
        "description": "Returns a list of patient files sorted by modification date.\nQueried from the patient_file collection - shows all patients with data.\n\nUse this endpoint to get the most recently updated patient files.\n",
        "tags": [
          "Coder - Dashboard"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "dateChanged",
                "dateCreated",
                "lastDataReceived",
                "lastContentModificationDate"
              ],
              "default": "dateChanged"
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "sortOrder",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort order"
          },
          {
            "in": "query",
            "name": "dateStart",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by dateChanged >= dateStart (ISO 8601)"
          },
          {
            "in": "query",
            "name": "dateEnd",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Filter by dateChanged <= dateEnd (ISO 8601)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Maximum number of patients to return"
          },
          {
            "in": "query",
            "name": "skip",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of patients to skip (for pagination)"
          },
          {
            "in": "query",
            "name": "searchTerm",
            "schema": {
              "type": "string"
            },
            "description": "Search by patientNumberPVS (substring match). When set, flagIncludeAnalysisObjects is forced to false."
          },
          {
            "in": "query",
            "name": "flagIncludeAnalysisObjects",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include analysis objects for each patient"
          }
        ],
        "responses": {
          "200": {
            "description": "Patient file list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
