{
  "openapi": "3.0.0",
  "info": {
    "title": "systolics API",
    "version": "1.0.0",
    "description": "API documentation for systolics"
  },
  "servers": [
    {
      "url": "https://api.systolics.de/v01",
      "description": "Platform API"
    }
  ],
  "tags": [
    {
      "name": "Coder - Dashboard",
      "description": "Dashboard and overview endpoints for the Coder module"
    },
    {
      "name": "Coder - Flows",
      "description": "Management of analysis flows"
    },
    {
      "name": "Coder - Patient",
      "description": "Patient file and documentation access"
    },
    {
      "name": "Coder - Analysis",
      "description": "Analysis objects and action handles"
    },
    {
      "name": "Coder - Settings",
      "description": "Settings and configuration for the Coder module"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-systolics-apikey",
        "description": "API Key required to obtain a JWT token."
      },
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authorization header using the Bearer scheme."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "description": "Flexible data container that can be either an object or an array.",
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Depicts a string constant for the error type",
            "example": "GENERAL_ERROR"
          },
          "reqId": {
            "type": "string",
            "description": "Request ID for tracing the error",
            "example": "4a900ef0-dfbe-11ef-add6-bf069a8357f6"
          },
          "msg": {
            "type": "string",
            "description": "Error message",
            "example": "An error occurred."
          }
        }
      },
      "AuthErrorMessage": {
        "type": "object",
        "properties": {
          "auth": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Access not allowed."
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Request operation result key",
            "example": "SUCCESS"
          },
          "token": {
            "type": "string",
            "description": "JWT token for accessing secured endpoints of the affiliated organization.",
            "example": "eyJhbGciOiJIUzI1NiIsIn..."
          }
        }
      },
      "CoderActionHandleStatus": {
        "type": "string",
        "enum": [
          "pending",
          "approved",
          "rejected",
          "deactivated",
          "untouched"
        ],
        "description": "Status of an action handle. 'untouched' is legacy (treat like pending, read-only); writable via the feedback PUT are only approved / rejected / pending — 'deactivated' is bot-only."
      },
      "CoderActionHandleKind": {
        "type": "string",
        "enum": [
          "add",
          "remove",
          "adjust",
          "review"
        ],
        "description": "The four handle kinds: add = 'Ziffer übernehmen?' (proposed new billing item, payload in createdItem), remove = 'Bestandsposition streichen?' (targetEntryRef), adjust = 'Feld/Faktor ändern?' (enrichedFields), review = 'Bitte prüfen' (no payload). Rows with legacy kinds are hidden from all read paths."
      },
      "CoderActionHandleSeverity": {
        "type": "string",
        "enum": [
          "info",
          "warning",
          "alert"
        ],
        "description": "Urgency of the finding behind the handle (FindingSeverity)."
      },
      "CoderCandidateOutcome": {
        "type": "string",
        "enum": [
          "bill_drafted",
          "re_confirmed",
          "existing_kept",
          "superseded",
          "excluded_by_selection",
          "implausible",
          "non_compliant",
          "blocked_by_gop",
          "not_in_optimal_invoice",
          "suppressed_by_reviewer",
          "suppressed_by_condensate",
          "mutually_excluded",
          "no_occasion",
          "not_dated"
        ],
        "description": "Final outcome of a candidate in one run. bill_drafted = newly added to the invoice DRAFT; re_confirmed = existing item held its ground; existing_kept = as-is existing line mirrored unchanged; superseded = existing item stepped back; excluded_by_selection = filtered before evaluation; non_compliant = failed a compliance gate; implausible = failed plausibleIf; blocked_by_gop = excluded by another GOP (see blockedBy); not_in_optimal_invoice = passed all gates but lost against order/caps; suppressed_by_reviewer = expert-review veto (reason in reviewSuppressionReason); suppressed_by_condensate = dropped by the LLM relevance filter; mutually_excluded = lost a reviewer-declared same-event exclusion; no_occasion = expert seed without documented occasion; not_dated = date-less candidate, never simulated. Legacy stored value 'billed' is normalized to bill_drafted."
      },
      "CoderCandidateOutcomeBucket": {
        "type": "string",
        "enum": [
          "adopted",
          "confirmed",
          "suppressed",
          "not_adopted"
        ],
        "description": "UI bucket derived from the outcome: bill_drafted → adopted; re_confirmed/existing_kept → confirmed; suppressed_by_reviewer/suppressed_by_condensate → suppressed; everything else → not_adopted."
      },
      "CoderDocumentationAssessment": {
        "type": "string",
        "enum": [
          "SUPPORTED",
          "PARTIALLY_SUPPORTED",
          "NOT_SUPPORTED",
          "UNCLEAR",
          "CONTRADICTED"
        ],
        "description": "Reviewer's documentation assessment (stamped even when SUPPORTED)."
      },
      "CoderDayChecksum": {
        "type": "object",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "MD5 checksum of the day's documentation"
          },
          "dateInserted": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderPatientFile": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectId"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "dayChecksums": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/CoderDayChecksum"
                },
                "description": "Map of date strings to checksum objects"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              },
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "CoderDocumentationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Type of documentation entry"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable type label"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "documentationText": {
            "type": "string"
          },
          "patientNumber": {
            "type": "integer"
          },
          "patientNumberPVS": {
            "type": "integer"
          },
          "caseId": {
            "type": "string"
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderDocumentationItemGOP": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "GOP": {
                "type": "string",
                "description": "GOP code"
              },
              "GOPText": {
                "type": "string"
              },
              "GOPLANR": {
                "type": "string"
              },
              "GOType": {
                "type": "string"
              },
              "GOPBstNumber": {
                "type": "string"
              },
              "monetaryValue": {
                "type": "number"
              },
              "GOPFactor": {
                "type": "number",
                "nullable": true
              },
              "GOPComment": {
                "type": "string",
                "nullable": true
              },
              "GOPDocName": {
                "type": "string"
              },
              "gopPVSDocShortHand": {
                "type": "string"
              },
              "flagStatistics": {
                "type": "boolean"
              },
              "flagIsIndividualFactor": {
                "type": "boolean",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderDocumentationItemMedication": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "medicationName": {
                "type": "string",
                "nullable": true
              },
              "dosage": {
                "type": "string",
                "nullable": true
              },
              "prescriptionId": {
                "type": "string",
                "nullable": true
              },
              "pzn": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderPatientFileDay": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "documentation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDocumentationItem"
            }
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderPaginatedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderActionHandleUserEdit": {
        "type": "object",
        "description": "User-supplied feedback on an action handle. The UI typically surfaces clickable preset texts that PREFILL `comment`; the user can then edit/extend the text before submit. There is no structured reason enum — `comment` carries the full feedback as free text, valid for any status (not just rejected). The server overwrites userIdCreated with the authenticated user; clients should omit it.",
        "properties": {
          "userIdCreated": {
            "type": "string",
            "readOnly": true,
            "description": "Set server-side from the access token; ignored if sent by clients"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "description": "Free-text feedback. Recommended on any status (approved/rejected/etc.) to build up gold-data examples."
          },
          "flagIsBot": {
            "type": "boolean",
            "default": false,
            "description": "True for automated (bot) feedback — py-core bot edits carry it too."
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status"
        ]
      },
      "CoderActionHandleSummary": {
        "type": "object",
        "description": "Summary of an action handle (used in analysis list overview)",
        "properties": {
          "total": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          }
        }
      },
      "CoderActionHandle": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer",
            "description": "PG auto-increment primary key"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "nullable": true,
            "description": "Non-hashed practice-system patient number; only populated by methods that JOIN coder.patients (worklist/day lists — the patient-level action-handles endpoint does NOT)"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Same source as patientNumberPVS — present only when coder.patients is joined"
          },
          "flowName": {
            "type": "string",
            "description": "Producing flow: 'identify' (add handles) or 'validate' (all others)"
          },
          "kind": {
            "$ref": "#/components/schemas/CoderActionHandleKind"
          },
          "severity": {
            "$ref": "#/components/schemas/CoderActionHandleSeverity"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "FindingType literal (e.g. DOCUMENTATION_SUPPORT_ISSUE, BILLABLE_OMISSION); legacy rows may carry a free label (e.g. 'Allgemein')"
          },
          "categoryLabel": {
            "type": "string",
            "nullable": true,
            "description": "German display label for `category` (e.g. 'Dokumentationslücke', 'Fehlende Ziffer'); unknown categories pass through raw"
          },
          "gop": {
            "type": "string",
            "nullable": true,
            "description": "Normalized GOP/EBM code the handle refers to; null for case-level ('nogop') handles"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Functional date (medical/event/documentation day)"
          },
          "monetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "EUR value associated with the finding (e.g. GOP value for an add)"
          },
          "sourceRuleId": {
            "type": "string",
            "description": "OPAQUE per-patient twin-matching key — stable across runs for the same semantic finding. Do NOT parse or derive display data from it (new-path rows use a /Sem/… grammar, legacy rows may carry plain rule ids)."
          },
          "evaluationId": {
            "type": "string",
            "nullable": true,
            "description": "The run that CREATED the handle — may be older than analysisObject.lastEvaluationId"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Raw last-edit timestamp; null if the row was never edited after creation"
          },
          "lastTouch": {
            "type": "string",
            "format": "date-time",
            "description": "COALESCE(dateUpdated, dateCreated) — null-safe last-modification timestamp, used by ?updatedFrom/?updatedTo filters, sortBy=lastTouch and as the list nextCursor"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Display title for the finding"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable finding description (carries the reviewer sentences verbatim)"
          },
          "reasoning": {
            "type": "string",
            "nullable": true,
            "description": "Why the finding was created"
          },
          "targetIds": {
            "type": "array",
            "description": "UUIDs of the patient-file items the finding refers to. For an 'add' this typically contains the createdItem.id; for remove/adjust/review it points at existing items.",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "userEdit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CoderActionHandleUserEdit"
              }
            ],
            "nullable": true,
            "description": "Latest feedback snapshot; null while the handle is pending/untouched"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "description": "Reduced metadata — only the sanctioned keys below are exposed (undefined keys are omitted).",
            "properties": {
              "findingId": {
                "type": "string",
                "nullable": true,
                "description": "Id of the finding the handle was materialized from (fnd_…)"
              },
              "findingType": {
                "type": "string",
                "nullable": true,
                "description": "FindingType literal (mirrors category)"
              },
              "origin": {
                "type": "string",
                "nullable": true,
                "description": "Producer: rule id, reviewer finding id (e.g. 'F4'), 'draft_composer', or a check label"
              },
              "proposed": {
                "type": "object",
                "nullable": true,
                "description": "Proposed change for remove/adjust handles",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "REMOVE",
                      "SET_FACTOR",
                      "SET_QUANTITY",
                      "SET_COMMENT"
                    ]
                  },
                  "fromValue": {
                    "nullable": true
                  },
                  "toValue": {
                    "nullable": true
                  },
                  "title": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "candidateRefs": {
                "type": "array",
                "description": "Join path to the candidate-evaluation ledger — subject candidate first, then related. Resolve via GET …/evaluations/{evaluationId}/candidates/{candidateId}.",
                "items": {
                  "type": "object",
                  "properties": {
                    "candidateId": {
                      "type": "string",
                      "description": "Run-local candidate id (cand_…)"
                    },
                    "evaluationId": {
                      "type": "string"
                    }
                  }
                }
              },
              "factorReview": {
                "type": "object",
                "nullable": true,
                "description": "§5-factor review material (camelCase)",
                "properties": {
                  "appliedFactor": {
                    "type": "number",
                    "nullable": true
                  },
                  "standardFactor": {
                    "type": "number",
                    "nullable": true
                  },
                  "thresholdFactor": {
                    "type": "number",
                    "nullable": true
                  },
                  "maxFactor": {
                    "type": "number",
                    "nullable": true
                  },
                  "proposedFactor": {
                    "type": "number",
                    "nullable": true
                  },
                  "factorState": {
                    "type": "string",
                    "enum": [
                      "above_max",
                      "above_threshold",
                      "below_standard",
                      "at_standard",
                      "no_check"
                    ]
                  },
                  "justificationFound": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "justificationText": {
                    "type": "string",
                    "nullable": true
                  },
                  "evidenceFindings": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "recommendation": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "chartIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Custom-task chart evidence references"
              },
              "gopUnvalidated": {
                "type": "boolean",
                "description": "True when a catalog check failed for an LLM-named GOP"
              }
            }
          },
          "createdItem": {
            "type": "object",
            "additionalProperties": true,
            "description": "add-kind only: the proposed billing item (GOPEntry, PVS-style keys — GOP, GOPText, GOPLANR, GOType, GOPBstNumber, monetaryValue, GOPFactor, GOPComment, flagInvoiced, documentationDate, doctorShortHand, locationShortHand, caseId, hzvContractId, …). Absent for other kinds.",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "nullable": true
              },
              "type": {
                "type": "string",
                "description": "Item type, e.g. 'gop'"
              },
              "GOP": {
                "type": "string",
                "description": "GOP/EBM code, e.g. '30100'"
              },
              "GOType": {
                "type": "string",
                "description": "EBM or GOAE"
              },
              "GOPText": {
                "type": "string",
                "nullable": true
              },
              "GOPLANR": {
                "type": "string",
                "nullable": true,
                "description": "Doctor LANR"
              },
              "GOPBstNumber": {
                "type": "string",
                "nullable": true,
                "description": "Practice BSNR"
              },
              "monetaryValue": {
                "type": "number",
                "nullable": true
              },
              "GOPFactor": {
                "type": "number",
                "nullable": true
              },
              "GOPComment": {
                "type": "string",
                "nullable": true
              },
              "flagInvoiced": {
                "type": "boolean"
              },
              "documentationDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "doctorShortHand": {
                "type": "string",
                "nullable": true
              },
              "locationShortHand": {
                "type": "string",
                "nullable": true
              },
              "caseId": {
                "type": "string",
                "nullable": true
              },
              "state": {
                "type": "object",
                "additionalProperties": true,
                "description": "Per-rule state flags, e.g. { flagIdentified: true, candidateId: 'cand_…' }"
              }
            }
          },
          "targetEntryRef": {
            "type": "object",
            "additionalProperties": true,
            "description": "remove-kind only: reference to the existing billing entry the handle proposes to strike. Absent for other kinds."
          },
          "enrichedFields": {
            "type": "array",
            "description": "adjust-kind only: the proposed field changes. Absent for other kinds.",
            "items": {
              "type": "object",
              "properties": {
                "fieldName": {
                  "type": "string"
                },
                "oldValue": {
                  "nullable": true
                },
                "newValue": {
                  "nullable": true
                },
                "source": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "traces": {
            "type": "object",
            "nullable": true,
            "description": "Condition evaluation trace tree — single-GET with flagIncludeTraces=true only; otherwise stripped by the `data - 'traces'` SQL projection"
          },
          "analysisObject": {
            "type": "object",
            "nullable": true,
            "description": "Embedded parent analysis object payload (populated via LEFT JOIN on analysis_object_ident). Always present on the response; null when the action handle has no analysis object attached. Read the FK target via analysisObject.ident.",
            "properties": {
              "ident": {
                "type": "integer",
                "description": "FK target — analysis_objects.ident"
              },
              "flowId": {
                "type": "string"
              },
              "objectType": {
                "type": "string",
                "description": "e.g. billing"
              },
              "goType": {
                "type": "string",
                "description": "EBM or GOAE"
              },
              "title": {
                "type": "string",
                "nullable": true,
                "description": "One-line case title"
              },
              "inboundTotalMonetaryValue": {
                "type": "number",
                "nullable": true,
                "description": "Value of the invoice the practice actually entered (per GOType, excluding identified items)"
              },
              "repDate": {
                "type": "string",
                "nullable": true,
                "description": "Quarter in QYYYY format (EBM only)"
              },
              "startDate": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Range start (GOAE only)"
              },
              "endDate": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Range end (GOAE only)"
              },
              "lastEvaluationId": {
                "type": "string",
                "nullable": true,
                "description": "Entry point for the candidate-evaluation ledger of the youngest completed run"
              },
              "dateCreated": {
                "type": "string",
                "format": "date-time"
              },
              "dateUpdated": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        }
      },
      "CoderAnalysisObject": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer",
            "description": "PG auto-increment primary key"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "flowId": {
            "type": "string"
          },
          "objectType": {
            "type": "string",
            "description": "e.g. billing"
          },
          "goType": {
            "type": "string",
            "description": "EBM or GOAE"
          },
          "repDate": {
            "type": "string",
            "nullable": true,
            "description": "Quarter in QYYYY format (EBM only)"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Explicit range start (GOAE only)"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Explicit range end (GOAE only)"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "One-line case title"
          },
          "inboundTotalMonetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "Value of the invoice the practice actually entered (per GOType, excluding identified items)"
          },
          "lastEvaluationId": {
            "type": "string",
            "nullable": true,
            "description": "Id of the youngest completed run — entry point for the candidate-evaluation ledger ('latest')"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderCandidateEvaluationItem": {
        "type": "object",
        "description": "One row of the candidate-evaluation ledger (list shape): the outcome of one candidate (GOP × target date) in one run, with API-side German decoration. Columns only — the structured depth lives on the detail endpoint.",
        "properties": {
          "candidateId": {
            "type": "string",
            "description": "RUN-LOCAL candidate id (cand_…) — only meaningful together with evaluationId"
          },
          "evaluationId": {
            "type": "string",
            "description": "The run this evaluation belongs to"
          },
          "gop": {
            "type": "string",
            "nullable": true,
            "description": "Normalized GOP/EBM code (subject of the evaluation)"
          },
          "goType": {
            "type": "string",
            "nullable": true,
            "description": "EBM or GOAE"
          },
          "targetDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Target service day; null for not_dated candidates"
          },
          "referenceDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Logical 'today' of the run"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Short catalog text of the service"
          },
          "intent": {
            "type": "string",
            "nullable": true,
            "enum": [
              "OMISSION_CHECK",
              "OPPORTUNITY_CHECK",
              null
            ],
            "description": "Evaluation intent; null = validation of an already-billed GOP"
          },
          "outcome": {
            "$ref": "#/components/schemas/CoderCandidateOutcome"
          },
          "outcomeBucket": {
            "$ref": "#/components/schemas/CoderCandidateOutcomeBucket"
          },
          "outcomeLabel": {
            "type": "string",
            "description": "German short label for the outcome (e.g. 'Übernommen', 'Bestand bestätigt')"
          },
          "blockedBy": {
            "type": "string",
            "nullable": true,
            "description": "The blocking GOP when outcome = blocked_by_gop"
          },
          "standaloneCompliant": {
            "type": "boolean",
            "nullable": true,
            "description": "Standalone compliance at targetDate; null = never checked"
          },
          "reviewStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "REVIEWED",
              "NOT_REVIEWED",
              null
            ],
            "description": "null = review not applicable / not run"
          },
          "documentationAssessment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CoderDocumentationAssessment"
              }
            ],
            "nullable": true
          },
          "documentationAssessmentLabel": {
            "type": "string",
            "nullable": true,
            "description": "German sentence fragment for the assessment (e.g. 'nur teilweise durch die Dokumentation gedeckt')"
          },
          "reviewSuppressed": {
            "type": "boolean",
            "nullable": true,
            "description": "Suppressed by the reviewer (reason in reviewSuppressionReason on the detail)"
          },
          "keptExisting": {
            "type": "boolean",
            "nullable": true,
            "description": "Existing-invoice line (true for re_confirmed / existing_kept)"
          },
          "superseded": {
            "type": "boolean",
            "nullable": true,
            "description": "Existing line stepped back"
          },
          "originCategory": {
            "type": "string",
            "nullable": true,
            "enum": [
              "rules",
              "probabilistic",
              "semantic",
              "actual_gops",
              null
            ],
            "description": "Policy column of the candidate"
          },
          "originType": {
            "type": "string",
            "nullable": true,
            "enum": [
              "gop_rule",
              "patient_rule",
              "custom_task",
              "language_model",
              "reviewer",
              "coder_assistant",
              null
            ],
            "description": "Concrete producer; null for probabilistic/actual_gops origins"
          },
          "explanation": {
            "type": "string",
            "nullable": true,
            "description": "Pre-rendered German candidate explanation (≤ 1200 chars) — directly displayable"
          }
        }
      },
      "CoderCandidateEvaluationDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderCandidateEvaluationItem"
          },
          {
            "type": "object",
            "description": "Detail shape: all list fields plus the structured depth from the ledger's JSONB payload. Pipeline internals (signals, signalRef, plausibility, tokenUsage, emittedHandles, provenance, provenanceDetail) are stripped.",
            "properties": {
              "decision": {
                "type": "object",
                "nullable": true,
                "description": "The complete CandidateDecision — findings, verbatim reviewer notes and the structured gate stack.",
                "properties": {
                  "candidateId": {
                    "type": "string"
                  },
                  "gop": {
                    "type": "string",
                    "nullable": true
                  },
                  "date": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "outcome": {
                    "type": "string"
                  },
                  "blockedBy": {
                    "type": "string",
                    "nullable": true
                  },
                  "reviewStatus": {
                    "type": "string",
                    "nullable": true
                  },
                  "documentationAssessment": {
                    "type": "string",
                    "nullable": true
                  },
                  "reviewNotes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "VERBATIM reviewer sentences — identical to what handle descriptions embed (deliberately redundant, do not deduplicate)"
                  },
                  "findings": {
                    "type": "array",
                    "description": "ALL findings on this candidate (subject or related), incl. ledger-only ones. Enriched with a German typeLabel.",
                    "items": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "fnd_… finding id"
                        },
                        "type": {
                          "type": "string",
                          "description": "FindingType literal"
                        },
                        "typeLabel": {
                          "type": "string",
                          "nullable": true,
                          "description": "German label for `type` (API-side enrichment)"
                        },
                        "severity": {
                          "$ref": "#/components/schemas/CoderActionHandleSeverity"
                        },
                        "source": {
                          "type": "string",
                          "enum": [
                            "rule",
                            "check",
                            "reviewer",
                            "composer",
                            "task"
                          ]
                        },
                        "origin": {
                          "type": "string",
                          "nullable": true
                        },
                        "gop": {
                          "type": "string",
                          "nullable": true
                        },
                        "goType": {
                          "type": "string",
                          "nullable": true
                        },
                        "date": {
                          "type": "string",
                          "format": "date",
                          "nullable": true
                        },
                        "title": {
                          "type": "string",
                          "nullable": true
                        },
                        "text": {
                          "type": "string",
                          "nullable": true,
                          "description": "The finding sentence"
                        },
                        "reasoning": {
                          "type": "string",
                          "nullable": true
                        },
                        "detail": {
                          "type": "string",
                          "nullable": true
                        },
                        "evidence": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Chart quotes"
                        },
                        "proposed": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "action": {
                              "type": "string",
                              "enum": [
                                "REMOVE",
                                "SET_FACTOR",
                                "SET_QUANTITY",
                                "SET_COMMENT"
                              ]
                            },
                            "fromValue": {
                              "nullable": true
                            },
                            "toValue": {
                              "nullable": true
                            },
                            "title": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "payload": {
                          "nullable": true,
                          "description": "Typed per finding type: GOPEntry (BILLABLE_OMISSION), factor assessment, or enriched-field list"
                        },
                        "resolution": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "confirmed",
                            "refuted",
                            "inconclusive",
                            null
                          ]
                        },
                        "resolutionNote": {
                          "type": "string",
                          "nullable": true
                        },
                        "candidateId": {
                          "type": "string",
                          "nullable": true
                        },
                        "relatedGops": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "relatedCandidateIds": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "explanation": {
                    "type": "object",
                    "nullable": true,
                    "description": "Structured gate stack (DecisionExplanation) — source of the explainability panel (gateLabel → section heading, verdicts[].requirement/observed → Soll/Ist).",
                    "properties": {
                      "ruleId": {
                        "type": "string",
                        "nullable": true
                      },
                      "decision": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          "validate",
                          "identify",
                          "bill",
                          "simulate",
                          null
                        ]
                      },
                      "subject": {
                        "type": "string",
                        "nullable": true,
                        "description": "e.g. 'GOP 7 am 28.05.2026'"
                      },
                      "result": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "headline": {
                        "type": "string",
                        "nullable": true
                      },
                      "note": {
                        "type": "string",
                        "nullable": true
                      },
                      "guidance": {
                        "type": "string",
                        "nullable": true
                      },
                      "steps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "gate": {
                              "type": "string",
                              "description": "Collector fieldname, e.g. 'regulatoryCompliance'"
                            },
                            "gateField": {
                              "type": "string",
                              "description": "Rule JSON gate, e.g. 'compliantIf'"
                            },
                            "gateLabel": {
                              "type": "string",
                              "description": "German section heading, e.g. 'Ausschluss-/Compliance-Bedingungen'"
                            },
                            "result": {
                              "type": "boolean",
                              "nullable": true
                            },
                            "value": {
                              "nullable": true
                            },
                            "summary": {
                              "type": "string",
                              "nullable": true
                            },
                            "verdicts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "kind": {
                                    "type": "string",
                                    "enum": [
                                      "group",
                                      "condition",
                                      "interpretation",
                                      "constant"
                                    ]
                                  },
                                  "result": {
                                    "type": "boolean",
                                    "nullable": true
                                  },
                                  "title": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "requirement": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Soll"
                                  },
                                  "observed": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Ist"
                                  },
                                  "text": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Rendered German one-liner"
                                  },
                                  "operator": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "@and/@or/@not for groups"
                                  },
                                  "template": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "e.g. 'patientage', 'gop', 'positivegops'"
                                  },
                                  "children": {
                                    "type": "array",
                                    "items": {
                                      "type": "object"
                                    },
                                    "description": "Recursive ConditionVerdict list"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "assumedBySource": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "trustBasis": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "origins": {
                "type": "array",
                "description": "Origin evidence of the candidate",
                "items": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "originCategory": {
                      "type": "string",
                      "nullable": true
                    },
                    "originType": {
                      "type": "string",
                      "nullable": true
                    },
                    "sourceIdentifier": {
                      "type": "string",
                      "nullable": true,
                      "description": "Rule id / task / jobExecutionId"
                    },
                    "referenceDay": {
                      "type": "string",
                      "format": "date",
                      "nullable": true
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Chart quotes"
                    },
                    "reasoning": {
                      "type": "string",
                      "nullable": true
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": true,
                      "nullable": true,
                      "description": "e.g. { evidenceKind: 'service_artifact'|'occasion', seedRefs: [] }"
                    },
                    "preQualified": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "originKind": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "direct_search_term",
                        "weak_search_term",
                        "chapter_expansion",
                        null
                      ]
                    },
                    "sourceTerms": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "clusterId": {
                      "type": "string",
                      "nullable": true
                    },
                    "clusterTitle": {
                      "type": "string",
                      "nullable": true
                    },
                    "score": {
                      "type": "number",
                      "nullable": true
                    }
                  }
                }
              },
              "compliance": {
                "type": "object",
                "nullable": true,
                "description": "Per-date isolated compliance: { '<ISO date>': { compliant, monetaryValue, summary, blockedBy[], blockedByGopRefs[], matchedRulesCount } }",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "compliant": {
                      "type": "boolean"
                    },
                    "monetaryValue": {
                      "type": "number",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string",
                      "nullable": true
                    },
                    "blockedBy": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "blockedByGopRefs": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "matchedRulesCount": {
                      "type": "integer"
                    }
                  }
                }
              },
              "factorReview": {
                "type": "object",
                "nullable": true,
                "additionalProperties": true,
                "description": "FactorReviewMaterial (camelCase) when a §5-factor case applied"
              },
              "reviewSuppressionReason": {
                "type": "string",
                "nullable": true,
                "description": "Verbatim reviewer reason when reviewSuppressed = true — the only user-visible 'why' for a suppressed proposal"
              },
              "currentlyBilledDates": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "date"
                },
                "description": "Days the GOP is already billed on"
              },
              "entryAmount": {
                "type": "number",
                "nullable": true,
                "description": "Committed entry amount (EUR)"
              },
              "entryFactor": {
                "type": "number",
                "nullable": true,
                "description": "Committed entry factor"
              },
              "entryComment": {
                "type": "string",
                "nullable": true,
                "description": "Committed entry comment"
              }
            }
          }
        ]
      },
      "CoderFlow": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFlowInput": {
        "type": "object",
        "properties": {
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          }
        },
        "required": [
          "friendlyName"
        ]
      },
      "CoderDashboardActionHandleCounts": {
        "type": "object",
        "properties": {
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "untouched": {
            "type": "integer"
          },
          "deactivated": {
            "type": "integer"
          }
        }
      },
      "CoderDashboardAnalysisStats": {
        "type": "object",
        "properties": {
          "countPatients": {
            "type": "integer"
          },
          "countActionHandles": {
            "$ref": "#/components/schemas/CoderDashboardActionHandleCounts"
          }
        }
      },
      "CoderDashboardFlowItem": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "analysisObjects": {
            "type": "object",
            "properties": {
              "total": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              },
              "recently": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              }
            }
          },
          "lastRun": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error",
                  "running"
                ]
              }
            }
          }
        }
      },
      "CoderDashboardResponse": {
        "type": "object",
        "properties": {
          "flows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDashboardFlowItem"
            }
          }
        }
      },
      "CoderAnalysisListObjectSummary": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer"
          },
          "flowId": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "actionHandleSummary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pending": {
                "type": "integer"
              },
              "approved": {
                "type": "integer"
              },
              "rejected": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CoderAnalysisListItem": {
        "type": "object",
        "properties": {
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "nullable": true,
            "description": "PVS patient number"
          },
          "pendingCount": {
            "type": "integer",
            "description": "Total pending action handles for this patient"
          },
          "totalMonetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "Sum of monetary values"
          },
          "latestUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListObjectSummary"
            }
          }
        }
      },
      "CoderAnalysisListResponse": {
        "type": "object",
        "description": "Response for /list/analysis - patients with analysis results",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderPatientFileListItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "description": "PVS patient number (if available)"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "sex": {
            "type": "string",
            "nullable": true,
            "description": "Patient sex (m/w/d)"
          },
          "dayOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "coverages": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Insurance coverage information"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            },
            "description": "Analysis objects for this patient (only included if flagIncludeAnalysisObjects=true)"
          }
        }
      },
      "CoderPatientFileListResponse": {
        "type": "object",
        "description": "Response for /list/patients - patient files sorted by modification date",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderPatientFileListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderActivityResponse": {
        "type": "object",
        "description": "Response for /patient/:patientNumber/activity - recent analysis objects",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor value for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderTriggerAnalysisResponse": {
        "type": "object",
        "description": "Response for triggering a patient analysis",
        "properties": {
          "triggered": {
            "type": "boolean",
            "description": "Whether the analysis was triggered"
          }
        }
      },
      "CoderFileShortType": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable label"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Mapped documentation type"
          },
          "count": {
            "type": "integer",
            "description": "Number of occurrences"
          },
          "flagAutoClassified": {
            "type": "boolean"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFileShortTypeInput": {
        "type": "object",
        "properties": {
          "fileShortType": {
            "type": "object",
            "properties": {
              "shortType": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "diag",
                  "anamnesis",
                  "procedure",
                  "therapy",
                  "medication",
                  "forms",
                  "lab",
                  "communication",
                  "admin",
                  "gop",
                  "other"
                ]
              }
            },
            "required": [
              "shortType",
              "type"
            ]
          }
        },
        "required": [
          "fileShortType"
        ]
      },
      "CoderFileShortTypesResponse": {
        "type": "object",
        "properties": {
          "fileShortTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderFileShortType"
            }
          },
          "flagClassificationInProgress": {
            "type": "boolean",
            "description": "Whether auto-classification is still running"
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of allowed documentation types"
          }
        }
      },
      "CoderGeneralSettings": {
        "type": "object",
        "description": "Effective general coder settings — defaults applied server-side for missing fields.",
        "properties": {
          "setupMode": {
            "type": "boolean",
            "description": "When true, the UI exposes setup helpers (demo files, masterdata stubs)."
          },
          "patientFileHistoryBackInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 36500,
            "nullable": true,
            "description": "History depth — how far back chart data is pulled per patient. `null` means no cap (unbegrenzt). Governs how much chart data leaves the practice per patient."
          },
          "autoDeleteEnabled": {
            "type": "boolean",
            "description": "When true, patient files untouched for `autoDeleteDays` days are removed by the cleanup job."
          },
          "autoDeleteDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650,
            "description": "Days of inactivity after which a patient file is auto-deleted (when enabled)."
          },
          "patientFileQueryModifiedSinceInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "description": "Change-detection window — patients with documentation modified within the last N days are pulled. Tune to the practice's sync cadence (daily → 3, weekly → ≥7, monthly → 30)."
          },
          "patientFileQueryLimit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "description": "Advanced — per-page cap on the PVS patient-file query."
          },
          "goaeCaseMode": {
            "type": "string",
            "enum": [
              "auto",
              "perCase",
              "window"
            ],
            "description": "Org-wide Scheinentwurf mode for the GOÄ case lifecycle: 'auto' detects the regime from the data, 'perCase' only opens per-case objects (core system carries caseIds), 'window' always runs the billed-watermark window."
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update."
          },
          "userIdChanged": {
            "type": "string",
            "description": "User who performed the last update."
          }
        }
      },
      "CoderGeneralSettingsUpdate": {
        "type": "object",
        "description": "Partial update — at least one field required; only present fields are written.",
        "minProperties": 1,
        "properties": {
          "setupMode": {
            "type": "boolean"
          },
          "patientFileHistoryBackInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 36500,
            "nullable": true
          },
          "autoDeleteEnabled": {
            "type": "boolean"
          },
          "autoDeleteDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650
          },
          "patientFileQueryModifiedSinceInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365
          },
          "patientFileQueryLimit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000
          },
          "goaeCaseMode": {
            "type": "string",
            "enum": [
              "auto",
              "perCase",
              "window"
            ]
          }
        }
      },
      "CoderList": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer",
            "description": "List primary key"
          },
          "name": {
            "type": "string"
          },
          "exposeToPvsMonitor": {
            "type": "boolean",
            "description": "When true, action handles linked to this list are exposed to the systolicsConnect PVS-Monitor."
          },
          "lastchange": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderListDayAggregate": {
        "type": "object",
        "description": "Per-day statistics for a list",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "total": {
            "type": "integer",
            "description": "Total action handles on this day"
          },
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "deactivated": {
            "type": "integer"
          },
          "totalMonetaryValue": {
            "type": "number"
          }
        }
      },
      "CoderListDayPatient": {
        "type": "object",
        "description": "A patient's action handles for a single day in a list",
        "properties": {
          "patientNumber": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "description": "Total action handles for this patient on this day"
          },
          "pending": {
            "type": "integer"
          },
          "totalMonetaryValue": {
            "type": "number"
          },
          "actionHandles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderActionHandle"
            }
          }
        }
      },
      "CoderListDayResponse": {
        "type": "object",
        "description": "Response for GET /lists/:listIdent/day — patients with action handles for a single day",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderListDayPatient"
            }
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "paths": {
    "/auth/scopes": {
      "get": {
        "summary": "Obtain Access Token for a service user via its API Key",
        "description": "Use an API Key to obtain a JWT token for authentication to protected organization resources",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "platform",
                "partner",
                "org"
              ]
            },
            "description": "Description of the type of organization for which scopes are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "description": "The scope as the string representation of the requested permission level"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the token"
                    },
                    "description": {
                      "type": "string",
                      "description": "The full-text representation of the access permission"
                    },
                    "uiCategory": {
                      "type": "string",
                      "description": "The category which for the scope"
                    },
                    "flagAssignableForBpOrg": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)"
                    },
                    "flagCanBeAssignedToApiKey": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)7"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/apps/coder": {
      "get": {
        "summary": "Get Coder activation state for the org",
        "description": "Returns the per-org activation record for the Coder app:\nstatus (`enabled` / `disabled` / `paused`), the reason if paused,\nactivation/deactivation timestamps, and a tail of the status-change\nhistory. Settings (history depth, retention etc.) live separately\nunder `optimizersettings.coder` and are NOT included here.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record (never null — defaults to `disabled` if never activated)."
          }
        }
      },
      "post": {
        "summary": "Activate the Coder app for the org",
        "description": "Initial activation, called by the onboarding dialog after the user\nhas accepted the terms. Idempotent — a second call when already\nenabled returns the existing state without side effects.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record after the call."
          }
        }
      },
      "delete": {
        "summary": "Deactivate the Coder app for the org",
        "description": "Sets status to `disabled`. Tunable settings (history depth,\nretention) are NOT touched, so a later re-activation restores them.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record after deactivation."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/status": {
      "put": {
        "summary": "Change Coder app status (user-initiated)",
        "description": "User-initiated status change. The accepted values are intentionally\nrestricted to `enabled` and `disabled`; `paused` is a system-owned\nstate and cannot be set through this endpoint. Use the dedicated\nresume path (currently `PUT` with `status: enabled` after a top-up)\nto leave a paused state.\n\nA `412 Precondition Failed` is returned when the user tries to\nenable while credits are insufficient — the UI should surface the\ntop-up flow on this response.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "enabled",
                      "disabled"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated; returns the new activation record."
          },
          "400": {
            "description": "Invalid body (e.g. status not in [enabled, disabled])."
          },
          "412": {
            "description": "Precondition failed (insufficient credits when enabling)."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/decommission": {
      "post": {
        "summary": "Decommission (\"Stilllegen\") the Coder app for the org",
        "description": "Offboarding action. Flips status to `disabled`, tags the activation\nrecord with decommission metadata (`decommissionedAt`,\n`decommissionedBy`, `purgeRequested`), and — when `purgeData: true`\n— requests an asynchronous purge of the org's coder data.\n\nThe purge worker is currently **stubbed** on the backend: the\nactivation record records the request (`purgeStatus: 'pending'`),\nbut no worker picks it up yet. Clients should not block on\ncompletion. Treat the 200 response as \"decommission request\nrecorded, purge scheduled\" — not \"purge done.\"\n\nThe org's purchase / entitlement is NOT cancelled by this\nendpoint — that lives separately.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "purgeData"
                ],
                "properties": {
                  "purgeData": {
                    "type": "boolean",
                    "description": "When true, additionally request a data purge."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decommission recorded; returns the updated activation record."
          },
          "400": {
            "description": "Invalid body."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/purgejob": {
      "get": {
        "summary": "Get the org's latest purge job",
        "description": "Returns the latest purge job (decommission, auto-retention, or\nmanual) for the org — used by the Gefahrenzone in the frontend\nto render progress while a decommission is running and to lock\nthe \"Coder stilllegen\" button.\n\nResponse shape mirrors the `coder_purge_jobs` document: state,\ncounters, kind, timestamps. Returns null when the org has never\nhad a purge job.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest purge job document, or null if none."
          }
        }
      }
    },
    "/auth/services/token": {
      "get": {
        "summary": "Obtain JWT Token using API Key",
        "description": "Use an API Key to obtain a JWT token for authentication.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey": {
      "get": {
        "summary": "List the existing API Keys for a business partner organization",
        "description": "List all API Keys for a business partner organization, including their scopes and validity information",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business partner organization for which the API keys are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyPrefix": {
                            "type": "string",
                            "description": "Unique identifier prefix for the API key.",
                            "example": "bp-76015df0df5511efb34539daeecdeef1"
                          },
                          "apiKeyMasked": {
                            "type": "string",
                            "description": "Masked API key for display purposes.",
                            "example": "******iV6m"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the API key was created.",
                            "example": "2025-01-30T21:59:21.679Z"
                          },
                          "activeEndpoints": {
                            "type": "array",
                            "description": "List of active endpoints associated with this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "scopes": {
                            "type": "array",
                            "description": "List of access scopes assigned to this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "data-dwh-data-read"
                            ]
                          },
                          "dateChanged": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was last modified.",
                            "example": "2025-01-30T22:06:43.815Z"
                          },
                          "userIdChanged": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that last changed the API key, if applicable.",
                            "example": null
                          },
                          "dateInvalidated": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was invalidated.",
                            "example": "2025-01-30T22:10:45.476Z"
                          },
                          "userIdInvalidated": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that invalidated the API key.",
                            "example": "668c5551fb7bbe6934d0f23f"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new API key",
        "description": "Generates a new API key for the specified business partner (BP). The request must be authenticated using a Bearer token.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID for which the API key is being created."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of scopes assigned to the API key.",
                    "example": [
                      "data-dwh-data-read",
                      "partner-owner"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "Unique identifier prefix for the API key.",
                          "example": "bp-53ab3520df5811ef83e9479208803006"
                        },
                        "apiKeyMasked": {
                          "type": "string",
                          "description": "Masked API key for display purposes.",
                          "example": "******XUWW"
                        },
                        "dateCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the API key was created.",
                          "example": "2025-01-30T22:19:52.562Z"
                        },
                        "activeEndpoints": {
                          "type": "array",
                          "description": "List of active endpoints associated with this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "scopes": {
                          "type": "array",
                          "description": "List of access scopes assigned to this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "apiKeyClear": {
                          "type": "string",
                          "description": "The full API key in plain text (shown only once upon creation).",
                          "example": "bp-53ab3520df5811ef83e9479208803006.BekBSEgkQK8FCO9t6qBqZ8h95KUddRoi0e6OceMHr8lMkniV"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey/{apiKeyPrefix}": {
      "put": {
        "summary": "Update API Key Scopes",
        "description": "Updates the list of scopes assigned to an existing API key.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID associated with the API key."
          },
          {
            "in": "path",
            "name": "apiKeyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier prefix for the API key to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The new list of scopes to assign to the API key.",
                    "example": [
                      "data-dwh-data-read"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated API key scopes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "The unique identifier prefix for the updated API key.",
                          "example": "bp-76015df0df5511efb34539daeecdeef1"
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The updated list of scopes assigned to the API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "data-dwh-data-read"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The specified API key does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Invalidate (Delete) an API Key",
        "description": "Marks an API key as invalid, preventing further use.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys-inactivate"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
[...]
