{
  "openapi": "3.0.0",
  "info": {
    "title": "systolics API",
    "version": "1.0.0",
    "description": "API documentation for systolics"
  },
  "servers": [
    {
      "url": "https://api.systolics.de/v01",
      "description": "Platform API"
    }
  ],
  "tags": [
    {
      "name": "Coder - Dashboard",
      "description": "Dashboard and overview endpoints for the Coder module"
    },
    {
      "name": "Coder - Flows",
      "description": "Management of analysis flows"
    },
    {
      "name": "Coder - Patient",
      "description": "Patient file and documentation access"
    },
    {
      "name": "Coder - Analysis",
      "description": "Analysis objects and action handles"
    },
    {
      "name": "Coder - Settings",
      "description": "Settings and configuration for the Coder module"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-systolics-apikey",
        "description": "API Key required to obtain a JWT token."
      },
      "accessToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authorization header using the Bearer scheme."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation successful"
          },
          "data": {
            "description": "Flexible data container that can be either an object or an array.",
            "oneOf": [
              {
                "type": "object"
              },
              {
                "type": "array"
              }
            ]
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Depicts a string constant for the error type",
            "example": "GENERAL_ERROR"
          },
          "reqId": {
            "type": "string",
            "description": "Request ID for tracing the error",
            "example": "4a900ef0-dfbe-11ef-add6-bf069a8357f6"
          },
          "msg": {
            "type": "string",
            "description": "Error message",
            "example": "An error occurred."
          }
        }
      },
      "AuthErrorMessage": {
        "type": "object",
        "properties": {
          "auth": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Access not allowed."
          }
        }
      },
      "AuthToken": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Request operation result key",
            "example": "SUCCESS"
          },
          "token": {
            "type": "string",
            "description": "JWT token for accessing secured endpoints of the affiliated organization.",
            "example": "eyJhbGciOiJIUzI1NiIsIn..."
          }
        }
      },
      "CoderActionHandleStatus": {
        "type": "string",
        "enum": [
          "pending",
          "approved",
          "rejected",
          "deactivated",
          "conflict",
          "untouched"
        ],
        "description": "Status of an action handle"
      },
      "CoderDayChecksum": {
        "type": "object",
        "properties": {
          "checksum": {
            "type": "string",
            "description": "MD5 checksum of the day's documentation"
          },
          "dateInserted": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderPatientTag": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "lastDate": {
            "type": "string",
            "format": "date"
          },
          "source": {
            "type": "string",
            "description": "Source of the tag extraction"
          },
          "deleted": {
            "type": "boolean"
          },
          "deletionReason": {
            "type": "string",
            "nullable": true
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderPatientTagInput": {
        "type": "object",
        "description": "Input schema for creating or updating a patient tag",
        "required": [
          "tag",
          "lastDate",
          "source"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "lastDate": {
            "type": "string",
            "format": "date",
            "description": "Date (ISO 8601)"
          },
          "source": {
            "type": "string",
            "description": "Source of the tag extraction"
          },
          "deleted": {
            "type": "boolean",
            "default": false
          },
          "deletionReason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CoderPatientTagDeleteInput": {
        "type": "object",
        "description": "Input schema for soft-deleting a patient tag",
        "required": [
          "tag"
        ],
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag text/label"
          },
          "deletionReason": {
            "type": "string",
            "nullable": true,
            "description": "Optional reason for deletion"
          }
        }
      },
      "CoderPatientFile": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "MongoDB ObjectId"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "dayChecksums": {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/CoderDayChecksum"
                },
                "description": "Map of date strings to checksum objects"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              },
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderPatientTag"
            }
          }
        }
      },
      "CoderDocumentationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Type of documentation entry"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable type label"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "documentationText": {
            "type": "string"
          },
          "patientNumber": {
            "type": "integer"
          },
          "patientNumberPVS": {
            "type": "integer"
          },
          "caseId": {
            "type": "string"
          },
          "checksum": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderDocumentationItemGOP": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "GOP": {
                "type": "string",
                "description": "GOP code"
              },
              "GOPText": {
                "type": "string"
              },
              "GOPLANR": {
                "type": "string"
              },
              "GOType": {
                "type": "string"
              },
              "GOPBstNumber": {
                "type": "string"
              },
              "monetaryValue": {
                "type": "number"
              },
              "GOPFactor": {
                "type": "number",
                "nullable": true
              },
              "GOPComment": {
                "type": "string",
                "nullable": true
              },
              "GOPDocName": {
                "type": "string"
              },
              "gopPVSDocShortHand": {
                "type": "string"
              },
              "flagStatistics": {
                "type": "boolean"
              },
              "flagIsIndividualFactor": {
                "type": "boolean",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderDocumentationItemMedication": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CoderDocumentationItem"
          },
          {
            "type": "object",
            "properties": {
              "medicationName": {
                "type": "string",
                "nullable": true
              },
              "dosage": {
                "type": "string",
                "nullable": true
              },
              "prescriptionId": {
                "type": "string",
                "nullable": true
              },
              "pzn": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "CoderPatientFileDay": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "documentationDate": {
            "type": "string",
            "format": "date-time"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "documentation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDocumentationItem"
            }
          },
          "state": {
            "type": "object"
          }
        }
      },
      "CoderPaginatedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderActionHandleUserEdit": {
        "type": "object",
        "description": "User-supplied feedback on an action handle. The UI typically surfaces clickable preset texts that PREFILL `comment`; the user can then edit/extend the text before submit. There is no structured reason enum — `comment` carries the full feedback as free text, valid for any status (not just rejected). The server overwrites userIdCreated with the authenticated user; clients should omit it.",
        "properties": {
          "userIdCreated": {
            "type": "string",
            "readOnly": true,
            "description": "Set server-side from the access token; ignored if sent by clients"
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "comment": {
            "type": "string",
            "nullable": true,
            "description": "Free-text feedback. Recommended on any status (approved/rejected/etc.) to build up gold-data examples."
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "status"
        ]
      },
      "CoderActionHandleSummary": {
        "type": "object",
        "description": "Summary of an action handle (used in analysis list overview)",
        "properties": {
          "total": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          }
        }
      },
      "CoderActionHandle": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "ident": {
            "type": "integer",
            "description": "PG auto-increment primary key"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "patientNumberPVS": {
            "type": "string",
            "nullable": true,
            "description": "Non-hashed practice-system patient number; only populated by methods that JOIN coder.patients (the patient-level action-handles endpoint does NOT)"
          },
          "birthDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Same source as patientNumberPVS — present only when coder.patients is joined"
          },
          "flowName": {
            "type": "string",
            "description": "Flow step name (identify, validate, custom_task)"
          },
          "type": {
            "type": "string",
            "enum": [
              "warning",
              "add",
              "workflow",
              "enriched",
              "suspect"
            ],
            "description": "Action handle kind (mapped from the `kind` DB column). 'suspect' = 'War das so?'-Rückfrage an die Praxis: die Frage + Evidenz liegt in meta.suspect, die Übernahme-Payload in createdItem; approve = 'ja, wurde erbracht', reject = 'nein' (wiederholtes Nein muted das Muster über den Feedback-Rückfluss)."
          },
          "status": {
            "$ref": "#/components/schemas/CoderActionHandleStatus"
          },
          "sourceRuleId": {
            "type": "string",
            "description": "Canonical rule ID, e.g. /Rule/GOPRule/EBM/01740"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Functional date (medical/event/documentation day)"
          },
          "monetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "EUR value associated with the finding (e.g. GOP value for an EBM/GOAE add)"
          },
          "doctors": {
            "type": "array",
            "description": "Doctors associated with the finding (jsonb on the row).",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "locations": {
            "type": "array",
            "description": "Practice locations associated with the finding (jsonb on the row).",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "evaluationId": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Raw last-edit timestamp; null if the row was never edited after creation"
          },
          "lastTouch": {
            "type": "string",
            "format": "date-time",
            "description": "COALESCE(dateUpdated, dateCreated) — null-safe last-modification timestamp, used by ?updatedFrom/?updatedTo filters and sortBy=lastTouch"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Display title for the finding (mirrors data.title)"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable finding description (from data JSONB)"
          },
          "reasoning": {
            "type": "string",
            "nullable": true,
            "description": "Why the finding was created (from data JSONB)"
          },
          "meta": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Rule-supplied metadata (from data JSONB). Typed material keys written by py-core: meta.suspect (Rückfrage: question, occasionConfidence, anchorDates, occasionEvidence, priorRate/priorLift/priorSource, gate — camelCase), meta.factor_review (§5-Faktor-Widget: applied_factor, standard_factor, threshold_factor, max_factor, proposed_factor, factor_state, justification_found/text, evidence_findings, recommendation — snake_case), meta.grounding / meta.divergence_material (QS-Prüfhinweise, snake_case), meta.pattern (patternKey-Provenienz für den Feedback-Rückfluss, camelCase)."
          },
          "targetIds": {
            "type": "array",
            "description": "UUIDs of the patient-file items the finding refers to (data JSONB). For an 'add' finding this typically contains the createdItem.id; for a 'warning' it points at existing items.",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "createdItem": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "For 'add'-kind findings: the proposed billing item to be created (data JSONB). Shape is polymorphic across rule types — EBM/GOAE GOP items expose keys like GOP, GOType, GOPText, GOPLANR, GOPBstNumber, monetaryValue, documentationDate, doctorShortHand, locationShortHand, caseId, hzvContractId. Null/absent for non-add findings.",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "type": {
                "type": "string",
                "description": "Item type, e.g. 'gop'"
              },
              "GOP": {
                "type": "string",
                "description": "GOP/EBM code, e.g. '30100'"
              },
              "GOType": {
                "type": "string",
                "description": "EBM or GOAE"
              },
              "GOPText": {
                "type": "string",
                "nullable": true
              },
              "GOPLANR": {
                "type": "string",
                "nullable": true,
                "description": "Doctor LANR"
              },
              "GOPBstNumber": {
                "type": "string",
                "nullable": true,
                "description": "Practice BSNR"
              },
              "monetaryValue": {
                "type": "number",
                "nullable": true
              },
              "documentationDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "doctorShortHand": {
                "type": "string",
                "nullable": true
              },
              "locationShortHand": {
                "type": "string",
                "nullable": true
              },
              "caseId": {
                "type": "string",
                "nullable": true
              },
              "state": {
                "type": "object",
                "additionalProperties": true,
                "description": "Per-rule state flags, e.g. { flagIdentified: true, '/Rule/<id>': {...} }"
              }
            }
          },
          "userEdit": {
            "$ref": "#/components/schemas/CoderActionHandleUserEdit"
          },
          "traces": {
            "type": "object",
            "nullable": true,
            "description": "Condition evaluation trace tree (only if flagIncludeTraces=true; otherwise stripped by the `data - 'traces'` projection in the SQL)"
          },
          "analysisObject": {
            "type": "object",
            "nullable": true,
            "description": "Embedded parent analysis object payload (populated via LEFT JOIN on analysis_object_ident). Always present on the response; null when the action handle has no analysis object attached. Read the FK target via analysisObject.ident.",
            "properties": {
              "ident": {
                "type": "integer",
                "description": "FK target — analysis_objects.ident"
              },
              "flowId": {
                "type": "string"
              },
              "objectType": {
                "type": "string",
                "description": "e.g. billing"
              },
              "goType": {
                "type": "string",
                "description": "EBM or GOAE"
              },
              "repDate": {
                "type": "string",
                "nullable": true,
                "description": "Quarter in QYYYY format (EBM only)"
              },
              "startDate": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Range start (GOAE only)"
              },
              "endDate": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "description": "Range end (GOAE only)"
              },
              "lastEvaluationId": {
                "type": "string",
                "nullable": true
              },
              "dateCreated": {
                "type": "string",
                "format": "date-time"
              },
              "dateUpdated": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              }
            }
          }
        }
      },
      "CoderAnalysisObject": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer",
            "description": "PG auto-increment primary key"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string"
          },
          "flowId": {
            "type": "string"
          },
          "objectType": {
            "type": "string",
            "description": "e.g. billing"
          },
          "goType": {
            "type": "string",
            "description": "EBM or GOAE"
          },
          "repDate": {
            "type": "string",
            "nullable": true,
            "description": "Quarter in QYYYY format (EBM only)"
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Explicit range start (GOAE only)"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Explicit range end (GOAE only)"
          },
          "lastEvaluationId": {
            "type": "string",
            "nullable": true
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFlow": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFlowInput": {
        "type": "object",
        "properties": {
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "config": {
            "type": "object"
          }
        },
        "required": [
          "friendlyName"
        ]
      },
      "CoderDashboardActionHandleCounts": {
        "type": "object",
        "properties": {
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "untouched": {
            "type": "integer"
          }
        }
      },
      "CoderDashboardAnalysisStats": {
        "type": "object",
        "properties": {
          "countPatients": {
            "type": "integer"
          },
          "countActionHandles": {
            "$ref": "#/components/schemas/CoderDashboardActionHandleCounts"
          }
        }
      },
      "CoderDashboardFlowItem": {
        "type": "object",
        "properties": {
          "flowId": {
            "type": "string"
          },
          "friendlyName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "analysisObjects": {
            "type": "object",
            "properties": {
              "total": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              },
              "recently": {
                "$ref": "#/components/schemas/CoderDashboardAnalysisStats"
              }
            }
          },
          "lastRun": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time"
              },
              "status": {
                "type": "string",
                "enum": [
                  "success",
                  "error",
                  "running"
                ]
              }
            }
          }
        }
      },
      "CoderDashboardResponse": {
        "type": "object",
        "properties": {
          "flows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderDashboardFlowItem"
            }
          }
        }
      },
      "CoderAnalysisListObjectSummary": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer"
          },
          "flowId": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "actionHandleSummary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "pending": {
                "type": "integer"
              },
              "approved": {
                "type": "integer"
              },
              "rejected": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CoderAnalysisListItem": {
        "type": "object",
        "properties": {
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "nullable": true,
            "description": "PVS patient number"
          },
          "pendingCount": {
            "type": "integer",
            "description": "Total pending action handles for this patient"
          },
          "totalMonetaryValue": {
            "type": "number",
            "nullable": true,
            "description": "Sum of monetary values"
          },
          "latestUpdate": {
            "type": "string",
            "format": "date-time"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListObjectSummary"
            }
          }
        }
      },
      "CoderAnalysisListResponse": {
        "type": "object",
        "description": "Response for /list/analysis - patients with analysis results",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderPatientFileListItem": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "patientNumber": {
            "type": "string",
            "description": "Hashed patient identifier"
          },
          "patientNumberPVS": {
            "type": "string",
            "description": "PVS patient number (if available)"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time"
          },
          "updateData": {
            "type": "object",
            "properties": {
              "lastDataReceived": {
                "type": "string",
                "format": "date-time"
              },
              "lastContentModificationDate": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "sex": {
            "type": "string",
            "nullable": true,
            "description": "Patient sex (m/w/d)"
          },
          "dayOfBirth": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "coverages": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Insurance coverage information"
          },
          "analysisObjects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            },
            "description": "Analysis objects for this patient (only included if flagIncludeAnalysisObjects=true)"
          }
        }
      },
      "CoderPatientFileListResponse": {
        "type": "object",
        "description": "Response for /list/patients - patient files sorted by modification date",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderPatientFileListItem"
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more results are available"
          },
          "totalCount": {
            "type": "integer",
            "nullable": true,
            "description": "Total count (may be null for performance)"
          }
        }
      },
      "CoderActivityResponse": {
        "type": "object",
        "description": "Response for /patient/:patientNumber/activity - recent analysis objects",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderAnalysisObject"
            }
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor value for next page"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more items are available"
          }
        }
      },
      "CoderTriggerAnalysisResponse": {
        "type": "object",
        "description": "Response for triggering a patient analysis",
        "properties": {
          "triggered": {
            "type": "boolean",
            "description": "Whether the analysis was triggered"
          }
        }
      },
      "CoderFileShortType": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string"
          },
          "shortType": {
            "type": "string",
            "description": "Short type code from PVS"
          },
          "shortTypeLang": {
            "type": "string",
            "description": "Human-readable label"
          },
          "type": {
            "type": "string",
            "enum": [
              "diag",
              "anamnesis",
              "procedure",
              "therapy",
              "medication",
              "forms",
              "lab",
              "communication",
              "admin",
              "gop",
              "other"
            ],
            "description": "Mapped documentation type"
          },
          "count": {
            "type": "integer",
            "description": "Number of occurrences"
          },
          "flagAutoClassified": {
            "type": "boolean"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderFileShortTypeInput": {
        "type": "object",
        "properties": {
          "fileShortType": {
            "type": "object",
            "properties": {
              "shortType": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "diag",
                  "anamnesis",
                  "procedure",
                  "therapy",
                  "medication",
                  "forms",
                  "lab",
                  "communication",
                  "admin",
                  "gop",
                  "other"
                ]
              }
            },
            "required": [
              "shortType",
              "type"
            ]
          }
        },
        "required": [
          "fileShortType"
        ]
      },
      "CoderFileShortTypesResponse": {
        "type": "object",
        "properties": {
          "fileShortTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderFileShortType"
            }
          },
          "flagClassificationInProgress": {
            "type": "boolean",
            "description": "Whether auto-classification is still running"
          },
          "allowedTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of allowed documentation types"
          }
        }
      },
      "CoderGeneralSettings": {
        "type": "object",
        "description": "Effective general coder settings — defaults applied server-side for missing fields.",
        "properties": {
          "setupMode": {
            "type": "boolean",
            "description": "When true, the UI exposes setup helpers (demo files, masterdata stubs)."
          },
          "patientFileHistoryBackInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 36500,
            "nullable": true,
            "description": "History depth — how far back chart data is pulled per patient. `null` means no cap (unbegrenzt). Governs how much chart data leaves the practice per patient."
          },
          "autoDeleteEnabled": {
            "type": "boolean",
            "description": "When true, patient files untouched for `autoDeleteDays` days are removed by the cleanup job."
          },
          "autoDeleteDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650,
            "description": "Days of inactivity after which a patient file is auto-deleted (when enabled)."
          },
          "patientFileQueryModifiedSinceInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "description": "Change-detection window — patients with documentation modified within the last N days are pulled. Tune to the practice's sync cadence (daily → 3, weekly → ≥7, monthly → 30)."
          },
          "patientFileQueryLimit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000,
            "description": "Advanced — per-page cap on the PVS patient-file query."
          },
          "goaeCaseMode": {
            "type": "string",
            "enum": [
              "auto",
              "perCase",
              "window"
            ],
            "description": "Org-wide Scheinentwurf mode for the GOÄ case lifecycle: 'auto' detects the regime from the data, 'perCase' only opens per-case objects (core system carries caseIds), 'window' always runs the billed-watermark window."
          },
          "dateChanged": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update."
          },
          "userIdChanged": {
            "type": "string",
            "description": "User who performed the last update."
          }
        }
      },
      "CoderGeneralSettingsUpdate": {
        "type": "object",
        "description": "Partial update — at least one field required; only present fields are written.",
        "minProperties": 1,
        "properties": {
          "setupMode": {
            "type": "boolean"
          },
          "patientFileHistoryBackInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 36500,
            "nullable": true
          },
          "autoDeleteEnabled": {
            "type": "boolean"
          },
          "autoDeleteDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3650
          },
          "patientFileQueryModifiedSinceInDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365
          },
          "patientFileQueryLimit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10000
          },
          "goaeCaseMode": {
            "type": "string",
            "enum": [
              "auto",
              "perCase",
              "window"
            ]
          }
        }
      },
      "CoderList": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "integer",
            "description": "List primary key"
          },
          "name": {
            "type": "string"
          },
          "exposeToPvsMonitor": {
            "type": "boolean",
            "description": "When true, action handles linked to this list are exposed to the systolicsConnect PVS-Monitor."
          },
          "lastchange": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CoderListDayAggregate": {
        "type": "object",
        "description": "Per-day statistics for a list",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "total": {
            "type": "integer",
            "description": "Total action handles on this day"
          },
          "pending": {
            "type": "integer"
          },
          "approved": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "deactivated": {
            "type": "integer"
          },
          "totalMonetaryValue": {
            "type": "number"
          }
        }
      },
      "CoderListDayPatient": {
        "type": "object",
        "description": "A patient's action handles for a single day in a list",
        "properties": {
          "patientNumber": {
            "type": "string"
          },
          "total": {
            "type": "integer",
            "description": "Total action handles for this patient on this day"
          },
          "pending": {
            "type": "integer"
          },
          "totalMonetaryValue": {
            "type": "number"
          },
          "actionHandles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderActionHandle"
            }
          }
        }
      },
      "CoderListDayResponse": {
        "type": "object",
        "description": "Response for GET /lists/:listIdent/day — patients with action handles for a single day",
        "properties": {
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoderListDayPatient"
            }
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "paths": {
    "/auth/scopes": {
      "get": {
        "summary": "Obtain Access Token for a service user via its API Key",
        "description": "Use an API Key to obtain a JWT token for authentication to protected organization resources",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "platform",
                "partner",
                "org"
              ]
            },
            "description": "Description of the type of organization for which scopes are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scope": {
                      "type": "string",
                      "description": "The scope as the string representation of the requested permission level"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the token"
                    },
                    "description": {
                      "type": "string",
                      "description": "The full-text representation of the access permission"
                    },
                    "uiCategory": {
                      "type": "string",
                      "description": "The category which for the scope"
                    },
                    "flagAssignableForBpOrg": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)"
                    },
                    "flagCanBeAssignedToApiKey": {
                      "type": "boolean",
                      "description": "Flag identifying when scopes are requested that a BP can be assigned for by a organization (impersonation)7"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/org/{orgId}/apps/coder": {
      "get": {
        "summary": "Get Coder activation state for the org",
        "description": "Returns the per-org activation record for the Coder app:\nstatus (`enabled` / `disabled` / `paused`), the reason if paused,\nactivation/deactivation timestamps, and a tail of the status-change\nhistory. Settings (history depth, retention etc.) live separately\nunder `optimizersettings.coder` and are NOT included here.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record (never null — defaults to `disabled` if never activated)."
          }
        }
      },
      "post": {
        "summary": "Activate the Coder app for the org",
        "description": "Initial activation, called by the onboarding dialog after the user\nhas accepted the terms. Idempotent — a second call when already\nenabled returns the existing state without side effects.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record after the call."
          }
        }
      },
      "delete": {
        "summary": "Deactivate the Coder app for the org",
        "description": "Sets status to `disabled`. Tunable settings (history depth,\nretention) are NOT touched, so a later re-activation restores them.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activation record after deactivation."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/status": {
      "put": {
        "summary": "Change Coder app status (user-initiated)",
        "description": "User-initiated status change. The accepted values are intentionally\nrestricted to `enabled` and `disabled`; `paused` is a system-owned\nstate and cannot be set through this endpoint. Use the dedicated\nresume path (currently `PUT` with `status: enabled` after a top-up)\nto leave a paused state.\n\nA `412 Precondition Failed` is returned when the user tries to\nenable while credits are insufficient — the UI should surface the\ntop-up flow on this response.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "enabled",
                      "disabled"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated; returns the new activation record."
          },
          "400": {
            "description": "Invalid body (e.g. status not in [enabled, disabled])."
          },
          "412": {
            "description": "Precondition failed (insufficient credits when enabling)."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/decommission": {
      "post": {
        "summary": "Decommission (\"Stilllegen\") the Coder app for the org",
        "description": "Offboarding action. Flips status to `disabled`, tags the activation\nrecord with decommission metadata (`decommissionedAt`,\n`decommissionedBy`, `purgeRequested`), and — when `purgeData: true`\n— requests an asynchronous purge of the org's coder data.\n\nThe purge worker is currently **stubbed** on the backend: the\nactivation record records the request (`purgeStatus: 'pending'`),\nbut no worker picks it up yet. Clients should not block on\ncompletion. Treat the 200 response as \"decommission request\nrecorded, purge scheduled\" — not \"purge done.\"\n\nThe org's purchase / entitlement is NOT cancelled by this\nendpoint — that lives separately.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "purgeData"
                ],
                "properties": {
                  "purgeData": {
                    "type": "boolean",
                    "description": "When true, additionally request a data purge."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decommission recorded; returns the updated activation record."
          },
          "400": {
            "description": "Invalid body."
          }
        }
      }
    },
    "/org/{orgId}/apps/coder/purgejob": {
      "get": {
        "summary": "Get the org's latest purge job",
        "description": "Returns the latest purge job (decommission, auto-retention, or\nmanual) for the org — used by the Gefahrenzone in the frontend\nto render progress while a decommission is running and to lock\nthe \"Coder stilllegen\" button.\n\nResponse shape mirrors the `coder_purge_jobs` document: state,\ncounters, kind, timestamps. Returns null when the org has never\nhad a purge job.\n",
        "tags": [
          "Apps"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest purge job document, or null if none."
          }
        }
      }
    },
    "/auth/services/token": {
      "get": {
        "summary": "Obtain JWT Token using API Key",
        "description": "Use an API Key to obtain a JWT token for authentication.",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthToken"
                }
              }
            }
          },
          "403": {
            "description": "Access forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey": {
      "get": {
        "summary": "List the existing API Keys for a business partner organization",
        "description": "List all API Keys for a business partner organization, including their scopes and validity information",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business partner organization for which the API keys are requested"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated, returns JWT token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiKeyPrefix": {
                            "type": "string",
                            "description": "Unique identifier prefix for the API key.",
                            "example": "bp-76015df0df5511efb34539daeecdeef1"
                          },
                          "apiKeyMasked": {
                            "type": "string",
                            "description": "Masked API key for display purposes.",
                            "example": "******iV6m"
                          },
                          "dateCreated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp when the API key was created.",
                            "example": "2025-01-30T21:59:21.679Z"
                          },
                          "activeEndpoints": {
                            "type": "array",
                            "description": "List of active endpoints associated with this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": []
                          },
                          "scopes": {
                            "type": "array",
                            "description": "List of access scopes assigned to this API key.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "data-dwh-data-read"
                            ]
                          },
                          "dateChanged": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was last modified.",
                            "example": "2025-01-30T22:06:43.815Z"
                          },
                          "userIdChanged": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that last changed the API key, if applicable.",
                            "example": null
                          },
                          "dateInvalidated": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Timestamp when the API key was invalidated.",
                            "example": "2025-01-30T22:10:45.476Z"
                          },
                          "userIdInvalidated": {
                            "type": "string",
                            "nullable": true,
                            "description": "User ID that invalidated the API key.",
                            "example": "668c5551fb7bbe6934d0f23f"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Error happened during the request of the scopes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new API key",
        "description": "Generates a new API key for the specified business partner (BP). The request must be authenticated using a Bearer token.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID for which the API key is being created."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of scopes assigned to the API key.",
                    "example": [
                      "data-dwh-data-read",
                      "partner-owner"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "Unique identifier prefix for the API key.",
                          "example": "bp-53ab3520df5811ef83e9479208803006"
                        },
                        "apiKeyMasked": {
                          "type": "string",
                          "description": "Masked API key for display purposes.",
                          "example": "******XUWW"
                        },
                        "dateCreated": {
                          "type": "string",
                          "format": "date-time",
                          "description": "Timestamp when the API key was created.",
                          "example": "2025-01-30T22:19:52.562Z"
                        },
                        "activeEndpoints": {
                          "type": "array",
                          "description": "List of active endpoints associated with this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "scopes": {
                          "type": "array",
                          "description": "List of access scopes assigned to this API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "apiKeyClear": {
                          "type": "string",
                          "description": "The full API key in plain text (shown only once upon creation).",
                          "example": "bp-53ab3520df5811ef83e9479208803006.BekBSEgkQK8FCO9t6qBqZ8h95KUddRoi0e6OceMHr8lMkniV"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/apikey/{apiKeyPrefix}": {
      "put": {
        "summary": "Update API Key Scopes",
        "description": "Updates the list of scopes assigned to an existing API key.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID associated with the API key."
          },
          {
            "in": "path",
            "name": "apiKeyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier prefix for the API key to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The new list of scopes to assign to the API key.",
                    "example": [
                      "data-dwh-data-read"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated API key scopes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "apiKeyPrefix": {
                          "type": "string",
                          "description": "The unique identifier prefix for the updated API key.",
                          "example": "bp-76015df0df5511efb34539daeecdeef1"
                        },
                        "scopes": {
                          "type": "array",
                          "description": "The updated list of scopes assigned to the API key.",
                          "items": {
                            "type": "string"
                          },
                          "example": [
                            "data-dwh-data-read"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The specified API key does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Invalidate (Delete) an API Key",
        "description": "Marks an API key as invalid, preventing further use.",
        "tags": [
          "Partner - API Keys"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "x-token-required-scopes": [
          "api-mgmt-keys-inactivate"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The business partner ID associated with the API key."
          },
          {
            "in": "path",
            "name": "apiKeyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier prefix for the API key to be invalidated."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully invalidated the API key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found - The specified API key does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bp/{orgId}/instances/new": {
      "post": {
        "summary": "Create a new practice instance (unattended onboarding)",
        "description": "Creates a new practice instance (organization) via unattended onboarding. This endpoint is designed for automated instance creation by business partners using API keys with the 'unattended-onboarding' scope. The endpoint will create a new organization, set up the organization owner user, and optionally create an admin user. Infrastructure setup and account validation emails are sent automatically. This endpoint requires (a) dedicated contractual agreement with systolics and  (b) a dedicated API key with the 'unattended-onboarding' scope. Further configuration (e.g. customization of registration flows) are  possible, but require specific configuration. Please contact your account manager for more information.",
        "tags": [
          "Partner - Onboarding"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "x-token-required-scopes": [
          "unattended-onboarding"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the business partner organization that is creating the new instance. This is derived from the API key used for authentication."
          },
          {
            "in": "query",
            "name": "flowType",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "orgowner",
                "admin"
              ]
            },
            "description": "Optional flow type for registration. Determines whether the user is registered as organization owner or admin. Only applicable if the business partner allows registration flow choices. Defaults to the business partner's default flow type."
          },
          {
            "in": "query",
            "name": "autoGeneratePassword",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Optional flag to auto-generate a strong password. Only applicable if the business partner allows registration flow choices. Defaults to true otherwise."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "name",
                  "surname",
                  "organization"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the organization owner user",
                    "example": "owner@medicalclinic.de"
                  },
                  "name": {
                    "type": "string",
                    "description": "First name of the organization owner user",
                    "example": "John"
                  },
                  "surname": {
                    "type": "string",
                    "description": "Last name of the organization owner user",
                    "example": "Doe"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password for the organization owner user; required if registration flow type is 'orgowner'. Must comply with strong requirements as per \"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[+-;:~.!@#\\$%\\^&\\*])(?=.{8,})\"",
                    "example": "SecurePassword123!"
                  },
                  "LANR": {
                    "type": "number",
                    "nullable": true,
                    "description": "Optional LANR (Lebenslange Arztnummer) for medical professionals, leave empty if not applicable.",
                    "example": null
                  },
                  "title": {
                    "type": "string",
                    "description": "Optional title of the user",
                    "example": "Dr."
                  },
                  "mobilephone": {
                    "type": "number",
                    "nullable": true,
                    "description": "Optional mobile phone number",
                    "example": null
                  },
                  "organization": {
                    "type": "object",
                    "required": [
                      "name",
                      "street",
                      "number",
                      "zip",
                      "kvCode",
                      "city",
                      "countryCode"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the organization",
                        "example": "Medical Clinic ABC"
                      },
                      "bstNumber": {
                        "type": "number",
                        "description": "BST number (Betriebsstättennummer). It is required for Germany (DE), place a 0 for private only clinics.",
                        "example": 123456789
                      },
                      "street": {
                        "type": "string",
                        "description": "Street address",
                        "example": "Main Street"
                      },
                      "number": {
                        "type": "string",
                        "description": "House number",
                        "example": 42
                      },
                      "zip": {
                        "type": "string",
                        "description": "Postal code",
                        "example": 10115
                      },
                      "kvCode": {
                        "type": "number",
                        "description": "KV code (Kassenärztliche Vereinigung). Please refer to the KV-Schlüsseltabellen for the correct KV code for your organization.",
                        "example": 100
                      },
                      "city": {
                        "type": "string",
                        "description": "City name",
                        "example": "Berlin"
                      },
                      "countryCode": {
                        "type": "string",
                        "enum": [
                          "DE",
                          "AT",
                          "CH"
                        ],
                        "description": "Country code (ISO 3166-1 alpha-2)",
                        "example": "DE"
                      }
                    }
                  },
                  "rebates": {
                    "type": "object",
                    "nullable": true,
                    "description": "Optional rebate configuration for the organization. Contains rebate selection data.",
                    "properties": {
                      "legalNoticePartner": {
                        "type": "boolean",
                        "description": "Flag indicating if the legal notice for the partner rebate has been accepted",
                        "example": true
                      },
                      "rebates": {
                        "type": "array",
                        "description": "Array of rebate IDs and codes to apply to the organization. The provided rebates are automatically selected and validated against available rebates of the partner account. Invalid items will be discarded.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier of the rebate",
                              "example": "507f1f77bcf86cd799439014"
                            },
                            "code": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional rebate code for reference",
                              "example": "PARTNER_DISCOUNT_2025"
                            }
                          }
                        },
                        "example": [
                          {
                            "id": "507f1f77bcf86cd799439014",
                            "code": "PARTNER_DISCOUNT_2025"
                          },
                          {
                            "id": "507f1f77bcf86cd799439015",
                            "code": null
                          }
                        ]
                      }
                    },
                    "example": {
                      "legalNoticePartner": true,
                      "rebates": [
                        {
                          "id": "507f1f77bcf86cd799439014",
                          "code": "PARTNER_DISCOUNT_2025"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a new practice instance. Returns the created organization, organization owner user, and optional admin user information along with pipeline execution status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "organization": {
                          "type": "object",
                          "properties": {
                            "orgId": {
                              "type": "string",
                              "description": "Unique identifier of the created organization",
                              "example": "507f1f77bcf86cd799439011"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the organization",
                              "example": "Medical Clinic ABC"
                            }
                          }
                        },
                        "orgOwnerUser": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "string",
                              "description": "Unique identifier of the organization owner user",
                              "example": "507f1f77bcf86cd799439012"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "description": "Email address of the organization owner user",
                              "example": "owner@medicalclinic.de"
                            }
                          }
                        },
                        "adminUser": {
                          "type": "object",
                          "nullable": true,
                          "properties": {
                            "userId": {
                              "type": "string",
                              "description": "Unique identifier of the admin user (if created)",
                              "example": "507f1f77bcf86cd799439013"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "description": "Email address of the admin user",
                              "example": "admin@medicalclinic.de"
                            }
                          }
                        },
                        "pipeline": {
                          "type": "object",
                          "description": "Information about the onboarding pipeline execution",
                          "properties": {
                            "flagInfrastructureRunSuccess": {
                              "type": "boolean",
                              "description": "Whether infrastructure setup was successful",
                              "example": true
                            },
                            "flagEmailSent": {
                              "type": "boolean",
                              "description": "Whether account validation email was sent",
                              "example": true
                            },
                            "flagRegisterUserAsOrgOwner": {
                              "type": "boolean",
                              "description": "Whether the user was registered as organization owner",
                              "example": true
                            },
                            "flagRegisterUserAsAdmin": {
                              "type": "boolean",
                              "description": "Whether an additional admin user was created",
                              "example": false
                            },
                            "flagNewUserWasCreated": {
                              "type": "boolean",
                              "description": "Whether a new user was created",
                              "example": true
                            },
                            "flagPartnerConnectionSuccess": {
                              "type": "boolean",
                              "description": "Whether partner connection was successful",
                              "example": true
                            },
                            "flagAffiliateWithPartner": {
                              "type": "boolean",
                              "description": "Whether the organization was affiliated with the partner",
                              "example": true
                            },
                            "flagAutoGeneratePassword": {
                              "type": "boolean",
                              "description": "Whether password was auto-generated",
                              "example": false
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input or missing required fields. This can occur if required fields are missing, email format is invalid, password is not strong enough, or organization information is incomplete.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API key. The API key is either missing, invalid, or has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthErrorMessage"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The business partner organization is not activated for unattended onboarding, or the API key does not have the required 'unattended-onboarding' scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not acceptable - Invalid user or organization data. This can occur if the email is invalid, password is not strong enough, or organization data does not meet requirements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - An unexpected error occurred during the onboarding process.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/filetypes": {
      "get": {
        "summary": "Get File Short Types",
        "description": "Returns all file short types for the organization.\nFile short types are used to categorize documentation entries.\nReturns status 202 if classification is still in progress.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File short types retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFileShortTypesResponse"
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Classification in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CoderFileShortTypesResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/filetypes/{itemId}": {
      "put": {
        "summary": "Update File Short Type",
        "description": "Updates a file short type mapping.\nRequires settings write permission.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          },
          {
            "in": "path",
            "name": "itemId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "File short type item ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoderFileShortTypeInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File short type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "SUCCESS"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/settings/devices": {
      "get": {
        "summary": "Get Device Configurations",
        "description": "Returns the device configurations for the organization.\nDevices are PVS devices that can be enabled/disabled for coder processing.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Device configurations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "activeDevices": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "Unique device key identifier"
                              },
                              "name": {
                                "type": "string",
                                "description": "Display name of the device"
                              },
                              "category": {
                                "type": "string",
                                "description": "Device category"
                              }
                            }
                          },
                          "description": "List of active devices"
                        },
                        "dateChanged": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "userIdChanged": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Enable Device",
        "description": "Enables a device for coder processing.\nThe device is added to the active devices list. If a device with the same key\nalready exists, it will be replaced with the new device data.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "name",
                  "category"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique device key identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the device"
                  },
                  "category": {
                    "type": "string",
                    "description": "Device category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Disable Device",
        "description": "Disables a device for coder processing.\nThe device is removed from the active devices list based on its key.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Organization ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "key",
                  "name",
                  "category"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique device key identifier to remove"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the device"
                  },
                  "category": {
                    "type": "string",
                    "description": "Device category"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "category": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/optimizer/{orgId}/coder/settings/context": {
      "get": {
        "summary": "Get Practice Context Items",
        "description": "Returns the practice context items for the organization.\nContext items are used as cheat sheet information for the coder AI.\n",
        "tags": [
          "Coder - Settings"
        ],
        "security": [
          {
            "accessToken": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "orgId",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
